$width_of_search: 340px;

@mixin border-radius() {
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

#locator {
    margin-top: 82px;
    height: 100%;

    #b-map {
        @media (max-width: 991px) {
            height: 65vh !important;
        }

        height: 95vh !important;

    }

    .list-location {
        padding: 0 85px 0 100px;
        padding-top: 18%;
        @media (max-width: 991px) {
            height: 30vh;
        }
        height: 95vh;


        background-color: $yellow;

        align-items: end;

        &.location-result-container {
            padding-top: 40px;
        }

        .content {

            width: 70%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            > p {
                text-align: center;
                font-family: $heebo;
                color: white;
                margin: 8px 0 15px 0;
                font-size: 1.2em;
            }
        }

        #b-location-list {
            width: 100%;

            .content {
                width: 100%;
                margin: 0;
                padding: 0;
            }

            .search-btn {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
                height: 100%;
                width: 60px;
                background-color: $red;
                background-image: url("../../imgs/search-btn.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                margin-right: -15px;
            }
            .search
            .b-preloader {
                z-index: 97;

                border-radius: 26px;
                background-size: 24px;
            }
            .search-field
            .b-preloader {
                height: 0 !important;
                width: 0 !important;
            }
            #b-search {
                padding: 10px 20px;
                margin: 0;
                margin-left: -8px;

                font-family: $heebo;
                font-size: .8em;
                text-transform: uppercase;
                color: $red;
                border-radius: 0;
                background: #fff;

                @media (max-width: 420px) {
                    margin: 0;
                }
            }
            #b-search::placeholder {
                color: $red;
                font-size: .8em;
            }
            #b-location {
                padding: 0;
                margin: 0;

                background: transparent;

                ul {
                    li {
                        display: none;
                    }
                }
                ul.searching {
                    width: $width_of_search;
                    height: 150px;
                    padding: 10px;
                    margin-top: 3px;
                    overflow-y: auto;

                    border-radius: 3px;
                    background: #fff;
                }
            }

        }
    }
    .location-result-container {
        .content {
            width: 100%;

            .location-result-search-field {
                position: relative;

                margin-bottom: 40px;

                input[name="search-location"] {
                    width: 100%;
                    padding: 11px 50px 11px 15px;

                    font-family: $heebo;
                    font-size: 18px;

                    border: 0;

                    @include border-radius;
                }

                i {
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    z-index: 1;

                    font-size: 25px;

                    color: #757575;
                }
            }

            .padd-r-10 {
                padding-right: 10px;
            }

            .location-result-list {
                height: 490px;

                .active-list-item {
                    border: 5px solid #ff827b !important;
                }

                .location-result-list-item {
                    padding: 20px 25px;
                    margin-bottom: 22px;

                    cursor: pointer;

                    border: 5px solid #fff;
                    background: #fff;

                    @include border-radius;

                    &:hover {
                        border: 5px solid #ff827b;
                    }

                    h2 {
                        margin-bottom: 10px;

                        font-family: $roboto;
                        font-size: 24px;
                        font-weight: 700;

                        color: #d72105;
                    }

                    p {
                        position: relative;

                        padding-left: 25px;

                        font-family: $heebo;
                        font-size: 14px;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        i {
                            position: absolute;
                            top: 3px;
                            left: 0;

                            font-size: 20px;

                            color: #c6c6c6;
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 991px ) {
    #locator {
        margin-top: 52px;

        .list-location {
            padding: 40px 0 55px;
        }
        .location-result-container {
            padding: 40px;
        }
        .search-field {
            text-align: left !important;

            #b-search {
                width: 310px !important;
            }
        }
    }
}

@media (max-width: 420px) {
    #locator {

        .list-location #b-location-list .search-btn {
            width: 50px !important;
        }

        .search-field {
            width: 250px !important;

            #b-search {
                width: 250px !important;
                // margin-left: -30px !important;
            }
        }
    }
}



