.nopadding {
    padding: 0;
}
.no-pad-right {
    padding-right: 0;
}
.no-pad-left {
    padding-left: 0;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid-3 {
    margin-bottom: 30px;
}
.show-grid-4 {
    margin-bottom: 40px;
}
.show-grid-5 {
    margin-bottom: 50px;
}

/**careers page**/
#careers {

    .col {
        padding: 0;
    }

    margin-top: 83px;

    .careers-container {
        width: 70%;
        margin: 0 auto;

        .career-cards {
            .container {
                padding: 0;
                margin: 0 auto;
            }
        }
    }

    .careers-category-tabs {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;      

        ul {
            justify-content: center;
            display: flex;
            margin: 0;
            padding: 0;
         
            li {
                list-style: none;
                padding: 30px 30px 10px 30px;
                font-family: $heebo;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: .9em;
                border-bottom: 5px solid $yellow;

                a {
                    color: black;
                    text-transform: uppercase;
                }
            }

            .active {
                border-bottom: 5px solid $red;

                a {
                    color: $red;
                }
            }
        }

        .recruitment-office-banner {
            display: block;
            color: white;
            font-family: $roboto;
            font-weight: 700;
            width: 100%;
            margin-top: 30px;

            .col {
                padding: 0;

                @media (max-width: 767px) {
                    height: 100px;
                }
            }

            .rec-left-banner {
                background-color: $yellow;
                height: 90px;
                width: 100%;
                position: relative;
                text-align: center;

                a {
                    color: $red;
                }

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 95%;
                }
            }

            .rec-right-banner {
                background-color: $red;
                height: 100%;
                width: 100%;
                position: relative;
                text-align: center;
                -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                -ms-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 95%;
                    // padding: 0 30px;
                }
            }

            .rec-right-banner:hover {
                filter: brightness(1.2);
            }

            .rec-right {
                a {
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
    }

    .career-card {
        // padding: 20px;

        .row {
            // padding: 0;
            // margin: 0;
        }

        .col-sm-1,
        .col-sm-11 {
            padding: 0;
        }

        margin-bottom: 30px;

        .career-tab {
            background-color: $yellow;
            height: 100%;
            width: 100%;
            margin-left: 15px;
        }

        .career-description:hover {
            background-color: #ff0e01;
        }

        .career-description {
            background-color: $red;
            color: white;
            // padding: 15px 5px 5px 15px;
            font-family: $heebo;
            font-weight: 500;

            @media (min-width: 601px) {
                margin-right: 15px;
            }

            position: relative;
            height: 230px;
            overflow-y: hidden;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;

            > div {
                width: 90%;
                margin: 0 auto;
                padding: 0 0 0 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
        
                h2 {
                    text-transform: uppercase;
                    font-size: 1.5em;
                }

                p {
                    font-size: 1em;
                }
            }

            .office-description {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 1.1em;
                    text-transform: uppercase;
                    color: $yellow;
                    font-weight: 700;
                    margin-bottom: 8px;
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }

        }
    }




    .career-image-title-wrapper {
        position: relative;
        z-index: 2;

        width: 100%;
        height: 210px;
        padding-top: 15px;

        border-radius: 5px;
        background: #f8bf00;
        -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
           -moz-box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
                box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
    }

    .career-image {
        width: 125px;
        height: 125px;
        margin: 0 auto;

        border: 6px solid #e1261c;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .career-title {
        padding: 0 10px;

        h4 {
            margin-top: 6px;

            font-size: 15px;

            text-transform: uppercase;

            color: #101820;
        }

        p {
            margin: 0;

            font-size: 15px;

            text-transform: uppercase;

            color: #101820;
        }
    }


    .list-panel {
        margin-top: 15px;

        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .list-title a {
        position: relative;

        display: block;
        padding: 12px 17px;

        font-size: 14px;

        color: #101820;
        background-color: #fff;

        &.collapsed:after {
            position: absolute;
            top: 0;
            right: 15px;
            bottom: 0;

            width: 15px;
            height: 16px;
            margin: auto 0;

            content: "";

            background-image: url(../../imgs/arrow-plus.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        &:after {
            position: absolute;
            top: 0;
            right: 15px;
            bottom: 0;

            width: 15px;
            height: 4px;
            margin: auto 0;

            content: "";

            background-image: url(../../imgs/arrow-minus.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .list-description {
        padding: 15px 17px;

        color: #fff;
        background: #e1261c;

        p {
            margin: 0;

            line-height: 15px;

            text-align: justify;
        }
    }


    .no-careers-found {
        h2 {
            font-family: $roboto;
            font-size: 2em;
            color: $red;
            margin: 70px 0 100px 0;
        }
    }


    .c-padding {
        padding: 0 15px;
    }

    .ro-container-padding {
        padding: 0 30px;
    }

    .ro-padding {
        padding: 0 7px;
    }

    .bg-yellow {
        background: #f8bf00;
    }

    .bg-white {
        background: #fff;
    }

    .we-need-you-title {
        margin-left: 20px;

        h2 {
            margin-bottom: 40px;

            font-size: 30px;

            color: #fff;
        }

        p {
            font-size: 16px;

            color: #fff;
        }
    }

    .ro-main-wrapper {
        padding: 16px 14px 20px 14px;

        h4 {
            margin-bottom: 15px;

            font-size: 13px;

            color: #101820;
        }

        p {
            margin-bottom: 0;

            font: 12px $heebo;

            line-height: 15px;

            text-align: justify;

            color: #101820;
        }
    }


    .onsite-recruitment-title {
        margin: 35px 0 15px 20px;

        p {
            font-size: 16px;

            color: #fff;
        }
    }

    .recruitment-link {
        margin-top: 15px;

        p {
            font-size: 16px;

            color: #fff;

            > a {
                text-decoration: underline !important;

                color: #fff;

                &:hover {
                    -webkit-transition: all .20s ease-in-out;
                       -moz-transition: all .20s ease-in-out;
                         -o-transition: all .20s ease-in-out;
                            transition: all .20s ease-in-out;

                    color: #e1261c;
                }
            }
        }
    }
}


#career-inner {
    font-family: $heebo;
    color: $black;
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;

    .col {
        padding: 0 !important;
        margin: 0;
    }

    h1 {
        font-size: 2em;
    }

    .career-icon {
        text-align: center;
        width: 30px;
        display: inline-block;
    }

    .career-inner-details {
        margin: 30px 0;

        .description {
            margin-top: 30px;
        }
    }

    .recruitment-office-banner {
        display: block;
        color: white;
        font-family: $roboto;
        font-weight: 700;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;

        .col {
            padding: 0;
        }

        .rec-left-banner {
            background-color: $yellow;
            height: 60px;
            width: 100%;
            position: relative;
            text-align: center;

            a {
                color: $red;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                // padding: 0 30px;
                // height: 100%;
            }
        }

        .rec-right-banner {
            background-color: $red;
            height: 100%;
            width: 100%;
            position: relative;
            text-align: center;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                // padding: 0 30px;
            }
        }

        .rec-right {
            a {
                color: white;
                text-transform: uppercase;
            }
        }
    }
}


/**careers page**/



/**contact us page**/
#contact_us {

    .container {
        margin: 0;
        padding: 0 !important;
        z-index: 1000;
        width: 100% !important;
        max-width: 100% !important;
    }

    .row {
        width: 100% !important;
        margin: 0 !important;
    }

    .col {
        padding: 0 !important;
        margin: 0 !important;
    }

    .map-container {
        @media (max-width: 991px) {
            height: 500px !important;
            flex: none !important;
        }
    }

    .contact-us-right {
        background-color: $cream;
        padding: 150px 80px 150px 80px;
        width: 100%;
        height: 100%;

        @media (max-width: 991px) {
            padding: 25px;

            .inquiry-form {
                padding: 0 15px;
            }
        }

    }

    .contact-us-title {
        h2 {
            margin-bottom: 25px;
            font-size: 40px;
            color: #101820;
        }
    }

    .location-details {
        margin-bottom: 35px;
        font-family: $heebo;
        line-height: 1.5;

        h3 {
            color: $red;
            font-size: 1em;
            padding: 0;
            margin: 0;
            font-weight: bold;
            padding-top: 2px;
        }

        p {
            font-size: 1em;
            padding: 0;
            margin: 0;
        }
    }

    .contact-details {
        margin-bottom: 17px;

        span {
            position: relative;

            float: left;
        }

        p {
            position: relative;
            top: 2px;

            margin-bottom: 0;
            margin-left: 43px;

            font-size: 16px;

            text-align: justify;

            color: #101820;
        }

        &:last-of-type {
            text-decoration: underline;
        }
    }

    .contact-us-map {
        width: 100%;
        height: 100%;
    }

    #map-area {
        width: 100%;
        height: 100%;
    }


    .inquiry-title {
        h2 {
            margin-bottom: 25px;

            font-size: 40px;

            color: #101820;
        }
    }

    .form-group {
        margin-bottom: 20px;

        h4 {
            margin-bottom: 13px;

            font-size: 17px;

            color: #101820;
        }

        textarea.messageheight {
            height: 200px;
        }
    }

    .form-control {
        height: 35px;

        font: 16px $heebo;

        border: 0;
        border-radius: 0;
        background: $yellow;
    }

    .form-control::placeholder {
        color: $red;
        font-family: $heebo;
    }

    input[type="submit"] {
        float: right;
        // width: 203px;
        // height: 58px;
        // margin-top: 32px;

        font: 20px $heebo;

        cursor: pointer;

        color: #fff;
        border: 0;
        outline: none;
        background: #e1261c;

        &:focus {
            outline: none;
            -webkit-box-shadow: none;
                    box-shadow: none;
        }

        &:hover {
            -webkit-transition: all .20s ease-in-out;
               -moz-transition: all .20s ease-in-out;
                 -o-transition: all .20s ease-in-out;
                    transition: all .20s ease-in-out;

            color: #e1261c;
            background: #f8bf00;
        }
    }

    div.wpcf7 .ajax-loader {
        float: left;
        margin: 3px 0 0 -13px;
    }
}
/**contact us page**/



/**promos page**/
#promos {
    padding: 70px 0 40px;
    margin-top: 125px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // height: auto;

    .pro-padding {
        padding: 0 7.5px;
    }

    .promos-title {
        h2 {
            margin: 0 0 25px 33px;

            font-size: 40px;

            color: #101820;
        }
    }

    .main-promo-image {
        position: relative;

        width: 100%;
        height: 257px;
        max-width: 100%;
        margin: 0 auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-promo-wrapper {
        height: 257px;
        padding: 40px 22px;

        background: #fff;

        .main-promo-title {
            h4 {
                margin-bottom: 7px;

                font-size: 20px;

                color: #101820;
            }
        }

        .main-promo-excerpt {
            p {
                margin-bottom: 0;

                font: 13px $heebo;
                line-height: 15px;

                text-align: justify;

                color: #101820;
            }
        }

        .main-promo-rm-btn {
            margin-top: 8px;

            a {
                display: inline-block;

                font-size: 13px;

                color: #101820;
            }
        }
    }


    .promo-image {
        position: relative;

        width: 371px;
        height: 257px;
        max-width: 100%;
        margin: 0 auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
/**promos page**/



/**about us page**/

// header
.hero {
    margin-top: 82px;
    font-family: $roboto;
    letter-spacing: 1px;
    text-align: center;    
    position: relative;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top;
        filter: brightness(.5);
    }

    h2 {
        color: $yellow;
        font-size: 3.2em;
        font-weight: 700;
    }   

    p {
        color: white;
    }

    .text-overlay {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

#about_us {
    // .slider-gallery-bg {
    //     padding: 65px 0 70px;
    // }

    // .about-us-title {
    //     h2 {
    //         margin-bottom: 50px;
    //         margin-left: 30px;

    //         font-size: 40px;

    //         color: #101820;
    //     }
    // }

    // .about-content-bg {
    //     padding: 75px 0 60px;
    // }

    // .about-us-content {
    //     p {
    //         margin-bottom: 25px;

    //         line-height: 26px;
    //     }
    // }

    .__show_grid_70 {
        margin-bottom: 70px;
    }

    .about-us-bg {
        padding: 30px 0 0 0;
        // padding: 30px 200px;
        background-color: $cream;

        .andoks-title {
            h2 {
                font-size: 84px;

                text-align: center;

                color: #e1261c;
                text-shadow: 3px 3px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;

                span {
                    position: relative;
                    right: -4px;

                    text-shadow: 3px 4px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
                }
            }

            img {
                max-width: 52%;
                margin: 30px 0 5px;
            }
        }

        .gallery_description {
            // margin-top: 25px;

            p {
                line-height: 1.5em;
                font-family: $heebo, sans-serif;
                font-size: 1em;
                padding: 0;
                padding-left: 5px;
            }
        }

        .gallery_header {
            h2 {
                color: $red;
                font-family: $roboto, sans-serif;
                font-weight: 700;
                letter-spacing: 1px;
            }

            i {
                color: $red;
                font-size: 1em;
                line-height: 1em;
                padding: 0;
                padding-left: 5px;
                margin: 0;
            }

            h3 {
                font-size: 1.2em;
                padding-bottom: 5px;
                padding-left: 5px;
            }

            h2 {
                font-size: 2em;
                padding-bottom: 5px;
                margin-bottom: 0;
                padding-left: 5px;
            }
        }

        .gallery_desc_left {
            p {
                padding-right: 40px;
            }
        }

        .gallery_desc_right {
            p {
                padding-left: 40px;
            }
        }

        .gallery_header_left {
            i,
            h3,
            h2 {
                padding-right: 40px;
            }
        }

        .gallery_header_right {
            i,
            h3,
            h2 {
                padding-left: 40px;
            }
        }        

        .gallery_image {
            height: 100%;
            // padding-top: 50px;
        }
    }



    .mvc {
        background: $yellow;
        padding: 100px 50px;

        .container {
            width: 80%;
            margin: 0 auto;
        }

        .tab-wrapper {
            font-family: $heebo;

            h4 {
                padding: 15px 0;
                text-transform: uppercase;
                color: $red;
                margin: 0;
                font-family: $roboto;
                font-weight: 700;
            }

            p {
                padding: 0;
                margin: 0;
                padding-left: 1px;
            }

            img {
                height: 20px;
            }
        }
    }
}
/**about us page**/



/**products page**/
.products {
    margin-top: 82px;
    font-family: $heebo;
    letter-spacing: 1px;
    text-align: left;    
    position: relative;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top;
        filter: brightness(.5);
    }

    h2 {
        color: $yellow;
        font-size: 2em;
        font-weight: 700;
    }   

    p {
        color: white;
    }

    .text-overlay {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .btn {
            margin-left: 20px;
        }
    }

    .btn-container {
        text-align: right;
    }

}

.product-list {
    a {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        .product-text {
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

            h2 {
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }
        }
    }

    a:hover {
        filter: saturate(120%);

        .product-text {
            background-color: $red;

            h2 {
                color: $yellow;
            }
        }
    }
}

.products-wrapper {

    padding: 20px 0;

    .container {
        margin: 0 auto;
        padding: 0;
    }

    font-family: $heebo;

    img {
        width: 100%;
    }

    a {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        .product-text {
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

            h2 {
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }
        }
    }

    a:hover {
        filter: saturate(120%);

        .product-text {
            background-color: $red;

            h2 {
                color: $yellow;
            }
        }
    }
}

.product-container {
    img {
        width: 100%;
    }

    padding: 20px 3px;

    .product-text {
    background-color: $yellow;
    padding: 20px 15px;
        h2 {
            font-size: 1.2em;
            color: $red;
            text-transform: uppercase;
            line-height: 0;
            padding: 0;
            margin: 0;
        }

        p {
            font-size: 1.14em;
            color: black;
            margin: 0;
            // vertical-align: middle;
            padding: 0;
            line-height: 0;
            text-align: right;
        }
    }
}

.product-category-page {
    // header
    .menu-cat {
        margin-top: 82px;
        font-family: $heebo;
        letter-spacing: 1px;
        text-align: center;    
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: top;
            filter: brightness(.5);
        }

        h2 {
            color: $yellow;
            font-size: 3.2em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: left;
        }

        a {
            background-color: $red;
            color: $white;
            padding: 10px 15px;
            text-transform: uppercase;
        }

        .btn-container {
            text-align: right;
            vertical-align: bottom;
            padding-top: 20px;
        }

        p {
            color: white;
        }

        .text-overlay {
            width: 65%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .product-nav {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;      

        ul {
            justify-content: center;
            display: flex;
         
            li {
                list-style: none;
                padding: 30px 25px 10px 25px;
                font-family: $roboto;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: .9em;
                border-bottom: 5px solid $yellow;

                a {
                    color: black;
                    text-transform: uppercase;
                }
            }

            .active {
                border-bottom: 5px solid $red;

                a {
                    color: $red;
                }
            }
        }
    }

    .product-feature {
        margin: 50px;
    }

}

.product-inner {
    .product-inner-text {
        padding: 20px;

        h2 {
            color: $red;
            text-transform: uppercase;
            font-family: $roboto;
            margin-bottom: 20px;
            font-weight: 700;
        }

        p {
            font-family: $heebo;
            margin-bottom: 30px;
        }

        .btn {
            font-size: 1em;
        }

        .dashicons-arrow-right-alt2 {
            font-size: .9em;
            color: $red;
            line-height: 0;
            vertical-align: baseline;
        }

        .andoks-breadcrumb {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 30px;

            a {
                color: $black;
            }
        }
    }

    .product-inner-image {
        padding: 20px;

        img {
            width: 100%;
        }
    }
}


.pagination-container {
    text-align: center;
    padding: 20px 0;

    a,
    span {
        color: $red;
        padding: 10px 8px;
        margin: 0;
    }

    span {
        color: $yellow;
    }

    .prev,
    .next {
        font-size: 1.2em;
    }
}


/***custom-media***/
@media (min-width: 992px) and (max-width: 1200px) {
    /**careers**/
    #careers {
        .careers-category-tabs {
            ul {
                li {
                    margin: 0 5px;
                }
            }
        }
    }

    /**contact us**/
    #contact_us {
        background-size: 100% 910px !important;

        input[type="submit"] {
            width: 130px;
        }

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 0;
        }
    }
}



@media (min-width: 768px) and (max-width:991px) {
    .btn {
        font-size: .9em !important;
    }
    .hero {
        margin-top: 50px;
    }

    .careers-category-tabs {
        ul {
            text-align: center;
            display: block !important;
            
            li {
                padding: 30px 30px 10px 30px;
            }
        }
    }
    /**careers**/
    #careers {
        margin-top: 52px;

        .careers-category-tabs {
            ul {
                li {
                    display: block;
                    margin: 5px 0;
                }
            }
        }

        .list-description {
            p {
                text-align: left;
            }
        }
    }
    /**careers**/

    .product-nav {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;      

        ul {
            padding: 0 !important;
            text-align: center;
         
            li {
                padding: 10px;
            }
        }
    }

    /**contact us**/
    #contact_us {
        margin-top: 52px;

        background-size: 100% 1500px !important;

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 6px;
        }

        .inquiry-title {
            h2 {
                margin-top: 40px;
            }
        }
    }
    /**contact us**/

    /**promos**/
    #promos {
        margin-top: 52px;

        .main-promo-wrapper {
            padding: 15px 10px;

            .main-promo-title {
                h4 {
                    font-size: 16px;
                }
            }

            .main-promo-excerpt {
                p {
                    font: 11.5px "Heebo", sans-serif;
                }
            }
        }
    }
    /**promos**/

    .products {
        .btn-container {
            text-align: left !important;
        }
    }

    .product-category-page {
        .menu-cat {
            .btn-container {
                padding-top: 20px;
            }

            .text-overlay {
                width: 80%;
            }
        }
    }


    /**about us**/
    #about_us {
        margin-top: 52px;

        .about-us-bg {

            .andoks-title {
                h2 {
                    margin-bottom: 20px;
                }
            }

            .gallery-container {
                width: 90%;
                margin: 0 auto;
            }

            .gallery_desc_left {
                p {
                    padding: 0;
                    padding-left: 5px;
                }
            }

            .gallery_desc_right {
                p {
                    padding: 0;
                    padding-left: 5px;
                }
            }

            .gallery_header_left {
                h2,
                i,
                h3 {
                    padding: 0;
                }
            }

            .gallery_header_right {
                h2,
                i,
                h3 {
                    padding: 0;
                }
            }
        }
    }
    /**about us**/

    /***modal store locator form***/
    .chicken-modal .chicken-logo {
        margin-left: 120px !important;
    }
    /***modal store locator form***/
}

@media (min-width: 576px) and (max-width: 767px) {
    .btn {
        font-size: .9em !important;
    }
    .hero {
        margin-top: 50px;

        h2 {
            font-size: 1.8em;
        }
    }
    .careers-category-tabs {
        ul {
            text-align: center;
            display: block !important;
            
            li {
                padding: 30px 30px 10px 30px;
            }
        }
    }
    .products {
        margin-top: 50px;

        h2 {
            font-size: 1.3em;
        }

        .btn-container {
            text-align: left !important;
        }
    }

    .product-nav {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;      

        ul {
            display: block !important;
            padding: 0 !important;
            text-align: center;
         
            li {
                padding: 10px;
            }
        }
    }

    .product-category-page {
        .menu-cat {
            h2 {
                text-align: center;
            }

            .btn-container {
                text-align: center;
            }
        }
    }

    /**careers**/
    #careers {
        margin-top: 52px;

        background-size: 100% 1500px !important;

        .c-pad-right {
            padding-right: 15px;
        }

        .c-pad-left {
            padding-left: 15px;
        }

        .career-image-title-wrapper {
            width: 175px;
            margin: 0 auto;
        }

        .careers-category-tabs {
            ul {
                li {
                    display: block;
                    margin: 5px 0;
                }
            }
        }

        .list-description {
            p {
                text-align: left;
            }
        }
    }
    /**careers**/

    .career-description {
        height: 350px !important;
    }

    /**contact us**/
    #contact_us {
        margin-top: 52px;

        background-size: 100% 1800px !important;

        input[type="submit"] {
            float: left;
            margin-top: 5px;
        }

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 6px;
        }

        .inquiry-title {
            h2 {
                margin-top: 40px;
            }
        }
    }
    /**contact us**/

    /**promos**/
    #promos {
        margin-top: 52px;

        .pad-right {
            padding-right: 15px;
        }

        .pad-left {
            padding-left: 15px;
        }

        .main-promo-image {
            width: 371px;
        }

        .main-promo-wrapper {
            width: 371px;
            height: 220px;
            margin: 0 auto;

            .main-promo-title {
                h4 {
                    font-size: 16px;
                }
            }

            .main-promo-excerpt {
                p {
                    font: 11.5px "Heebo", sans-serif;
                }
            }
        }
    }
    /**promos**/

    /**about us**/
    #about_us {
        margin-top: 52px;

        .about-us-bg {
            .andoks-title {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }

        .tab-wrapper {
            margin-bottom: 30px;
        }

        .about-us-bg .gallery_header_right {
            p {
                padding-left: 0;
            }
        }
    }
    /**about us**/
    #about_us {
        .about-us-bg {
            .gallery-container {
                width: 90%;
                margin: 0 auto;
            }

            .gallery_desc_left {
                p {
                    padding: 0;
                    padding-left: 5px;
                }
            }

            .gallery_desc_right {
                p {
                    padding: 0;
                    padding-left: 5px;
                }
            }

            .gallery_header_left {
                h2,
                i,
                h3 {
                    padding: 0;
                }
            }

            .gallery_header_right {
                h2,
                i,
                h3 {
                    padding: 0;
                }
            }
        }
    }

    /***modal store locator form***/
    .chicken-modal .chicken-logo {
        margin-left: 120px !important;
    }
    /***modal store locator form***/
}



@media (min-width: 320px) and (max-width: 575px) {
    .btn {
        font-size: .9em !important;
    }

    .hero {
        margin-top: 50px;

        h2 {
            font-size: 1.8em;
        }
    }
    .careers-category-tabs {
        ul {
            text-align: center;
            display: block !important;
            
            li {
                padding: 10px;
            }
        }
    }
    .career-description {
        height: 350px !important;
    }
    .products {
        margin-top: 50px;

        h2 {
            font-size: 1.3em;
        }

        p {
            font-size: 1em;
            line-height: 1em;
        }

        .text-overlay {
            width: 85%;
        }

        .btn-container {
            text-align: left !important;
        }
    }

    .product-nav {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;      

        ul {
            display: block !important;
            padding: 0 !important;
            text-align: center;
         
            li {
                padding: 10px;
            }
        }
    }
    /**careers**/
    #careers {
        margin-top: 52px;

        background-size: 100% 1500px !important;

        .c-pad-right {
            padding-right: 15px;
        }

        .c-pad-left {
            padding-left: 15px;
        }

        .career-image-title-wrapper {
            width: 175px;
            margin: 0 auto;
        }

        .careers-category-tabs {
            ul {
                li {
                    display: block;
                    margin: 5px 0;
                }
            }
        }

        .list-description {
            p {
                text-align: left;
            }
        }
    }
    /**careers**/

    /**contact us**/
    #contact_us {
        margin-top: 52px;

        background-size: 100% 1800px !important;

        input[type="submit"] {
            float: left;
            margin-top: 5px;
        }

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 6px;
        }

        .inquiry-title {
            h2 {
                margin-top: 40px;
            }
        }

        #map-area {
            width: 100%;
        }
    }
    /**contact us**/

    /**promos**/
    #promos {
        margin-top: 52px;

        .pro-padding {
            padding: 0 15px;
        }

        .pad-right {
            padding-right: 15px;
        }

        .pad-left {
            padding-left: 15px;
        }

        .main-promo-image {
            width: 371px;
        }

        .main-promo-wrapper {
            width: 371px;
            height: 220px;
            max-width: 100%;
            margin: 0 auto;

            .main-promo-title {
                h4 {
                    font-size: 16px;
                }
            }

            .main-promo-excerpt {
                p {
                    font: 11.5px "Heebo", sans-serif;
                }
            }
        }
    }
    /**promos**/

    /**about us**/
    #about_us {
        margin-top: 52px;

        .about-us-bg {

            .andoks-title {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }

        .about-us-bg {
            .gallery-container {
                width: 90%;
                margin: 0 auto;
            }

            .gallery_desc_left {
                p {
                    padding: 0;
                    padding-left: 5px;
                }
            }

            .gallery_desc_right {
                p {
                    padding: 0;
                    padding-left: 5px;
                }
            }

            .gallery_header_left {
                h2,
                i,
                h3 {
                    padding: 0;
                }
            }

            .gallery_header_right {
                h2,
                i,
                h3 {
                    padding: 0;
                }
            }
        }


        .mvc {
            padding: 30px 0;

            .tab-wrapper {
                margin: 20px 0;
                height: auto !important;
            }
        }
    }
    /**about us**/

    /***modal store locator form***/
    .search-bar {
        width: 100% !important;
    }
    /***modal store locator form***/
}

/***small devices***/
@media (max-width: 414px) {
    #contact_us {
        .location-details {
            p {
                font-size: 14px;
            }
        }

        .contact-details {
            p {
                font-size: 14px;
            }
        }

        .g-recaptcha {
            transform: scale(.93, .95);
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
        }
    }
}

@media (max-width: 767px) {
    .product-category-page {
        .menu-cat {
            h2 {
                text-align: center;
            }

            .btn-container {
                text-align: center;
            }
        }
    }
}