body {
    background: $cream;
}
#offside-container {
    background: $cream;
}
.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 0 !important; /* height of your footer */
}
.yellow-border {
    height: 115px;
    width: 100%;
    background: $yellow;
    position: absolute;
    top: 0;
    z-index: 0;
}
footer {
    position: relative;
    // bottom: 0;
    width: 100%;
}
/* General*/
.btn {
    padding: 10px 20px;

    font-family: $heebo;
    letter-spacing: 1px;
    font-size: 1em;

    cursor: pointer;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    text-transform: uppercase;
    border-radius: 0;

    &.active,
    &:active,
    &:focus,
    &:hover {
        color: white;
        filter: brightness(1.2);
    }
}

.btn-red {
    color: white;
    background: $red;
}

.btn-yellow {
    color: white;
    background: $yellow;
}

.semi-rounded {
    border-radius: 8px;
}

.primary-bg {
    position: relative;
}

.left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    display: none;
    width: 60px;
    height: 80px;
    padding-top: 18px;
    margin: auto;

    border: none;
    -webkit-box-shadow: 1px 1px 9.5px .5px rgba(0, 0, 0, .3);
            box-shadow: 1px 1px 9.5px .5px rgba(0, 0, 0, .3);

    &::after {
        position: absolute;
        top: 20%;
        left: calc(50% - -30px);

        width: 16px;
        height: 24px;

        content: "";
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;

        background: $yellow-primary;
        -webkit-box-shadow: 1px 1px 9.5px .5px rgba(0, 0, 0, .3);
                box-shadow: 1px 1px 9.5px .5px rgba(0, 0, 0, .3);

        -webkit-clip-path: polygon(0 0, 99% 47%, 0% 100%);
                clip-path: polygon(0 0, 99% 47%, 0% 100%);
    }
    &.active,
    &:active,
    &:focus,
    &:hover {
        background-color: $yellow-secondary;

        &::after {
            background-color: $yellow-secondary;
        }
    }
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=text],
textarea {
    position: relative;
    z-index: 99;

    font-size: 1.5em;

    resize: none;

    border: 1px solid #f7c202;
    border-radius: 8px;
    outline: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.section {
    padding: 50px 20px 40px;
}

// OFFSIDE NAV

.offside {
    width: 300px;
    padding: 20px 0;

    background-color: $cream;
}

/* Offside buttons */
.offside-button {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 0 auto 10px auto;

    cursor: pointer;
    text-align: center;

    color: #000;
    background: #ffe200;
}

.offside-button:hover {
    background: #ffd900;
}

.site-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    visibility: hidden;

    cursor: pointer;
    -webkit-transition: visibility 0s ease, opacity .2s ease;
       -moz-transition: visibility 0s ease, opacity .2s ease;
         -o-transition: visibility 0s ease, opacity .2s ease;
            transition: visibility 0s ease, opacity .2s ease;

    opacity: 0;
    background-color: #fff;
}

/* Abstract icon class*/
.icon {
    position: relative;

    display: block;
    padding: 10px 0;

    border: 1px solid transparent;
    background-color: transparent;
    background-image: none;
}

.icon .icon-bar {
    display: block;
    width: 22px;
    height: 2px;

    border-radius: 1px;
    background-color: $red-primary;
}

.icon:hover .icon-bar {
    background-color: $red-secondary;
}

.icon:focus {
    outline: 0;
}

/* Hamburger button */
.icon--hamburger .icon-bar + .icon-bar {
    margin-top: 4px;
}

/* Close button */
.icon--cross {
    padding: 20px;
}

.icon--cross > .icon-bar + .icon-bar {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.icon--cross > .icon-bar {
    margin-top: -2px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* Helpers */
.h--left {
    float: left;
}

.h--right {
    float: right;
}

/* Demo specific: typical */

/* Just few cosmetic CSS for overlay fade in/out */
.offside-js--is-open .site-overlay {
    visibility: visible;

    -webkit-transition-delay: delay 0s;
         -o-transition-delay: delay 0s;
            transition-delay: delay 0s;

    opacity: .7;
}

.menu-btn-2 {
    display: none;
}

/* Chicken Modal*/
.chicken-modal .modal-dialog {
    position: relative;

    .modal-content {
        .modal-body {
            overflow: hidden !important;
        }
    }
}

.chicken-modal .modal-dialog .chicken-logo {
    position: absolute;
    top: -37%;
    left: -170px;
    z-index: 9;
}
.vertical-alignment-helper {
    display: table;
    width: 60%;
    height: 100%;
    margin-left: 20%;

    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.chicken-modal .modal-content {
    width: 700px;
    height: auto;
    padding: 20px 90px 20px 110px;
    overflow: unset !important;

    text-align: center;

    background: #ece819;
}

.chicken-modal .chicken-logo,
.center-logo {
    display: block;
}
.chicken-modal .modal-body {
    overflow: hidden;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;

    vertical-align: middle;
    pointer-events: none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;

    pointer-events: all;

    .modal-header {
        padding: 20px 0 0;

        border: none;
    }
    .modal-header h2 {
        margin: 0 auto;

        font-family: $roboto;
        font-size: 36px;
        font-weight: 700;

        color: $red-primary;
    }

    .modal-body {
        padding-top: 0;
    }

    button.close {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 99;

        width: 30px;
        width: 32px;
        height: 30px;
        height: 32px;
        padding: 0;
        padding-bottom: 7px;

        cursor: pointer;

        opacity: 1;
        color: #fff;
        border-radius: 50%;
        outline: none;
        background: url(http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/close-btn.png) no-repeat;
    }
}

.search-bar {
    position: relative;

    width: 350px;
    margin: 30px auto;

    text-align: center;
}

.search-bar img {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 999;

    width: 24px;
    height: 24px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* HERO BANNER SLIDER*/
.hero-slider,
#contact-us {
    margin-top: 83px;
}

.single-container {
    margin-top: 120px;
}
#andoks-hero-slider {
    .carousel-indicators li {
        width: 25px;
        height: 25px;
        background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/yellow_dots.png") no-repeat;
    }

    .carousel-indicators .active {
        width: 25px;
        height: 25px;
        background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots_active.png") no-repeat;
    }
    .radial-white {
        position: absolute;
        top: -10%;
    }
    .carousel-caption {
        top: 30%;
        left: 10%;
        left: 15%;

        width: 320px;


        h3 {
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: 700;
            color: $red-primary;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.3em;

            color: #010000;
        }

        .box {
            display: inline-block;
            float: left;
            width: 100px;
            height: 100px;
            margin: 0 1em 1em 0;

            line-height: 100px;

            text-align: center;

            color: #fff;
        }

        .box-1 {
            background: radial-gradient(white, white);
        }
    }
}

.hesperiden .tp-bullet.selected {
    background: url(http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots_active.png) no-repeat;
}

.hesperiden .tp-bullet:hover {
    background: url(http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/yellow_dots.png) no-repeat;
}

.hesperiden .tp-bullet {
    position: absolute;

    width: 25px;
    height: 25px;
    box-sizing: content-box;

    cursor: pointer;

    border: none;
    border-radius: unset;
    background: url(http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/yellow_dots.png) no-repeat;
}
/* MEDIA SLIDER*/

.owl-carousel {
    .owl-video-wrapper {
        margin: 0 auto;
    }
    .owl-nav [class*=owl-] {
        display: none !important; // hide owl nav buttons
        width: 60px;
        height: 60px;

        font-size: 20px;
        line-height: 30px;

        text-align: center;

        color: rgba(255, 255, 255, .9);
        border-radius: 0;
        border-radius: 50%;
        background: #e1261c;
    }
    .owl-nav [class*=owl-]:hover {
        display: none !important; // hide owl nav buttons
        color: #fff;
        background: rgba(0, 0, 0, .9);
    }
    .owl-nav [class*=owl-] img {
        display: none !important; // hide owl nav buttons
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .owl-prev,
    .owl-next {
        display: none !important; // hide owl nav buttons
        position: absolute;
        top: 10px;
        height: 30px;
        margin: auto !important;
    }
    .owl-prev {
        display: none !important; // hide owl nav buttons
        top: 50%;
        left: 10%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .owl-next {
        display: none !important; // hide owl nav buttons
        top: 50%;
        right: 10%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

.owl-theme .owl-dots .owl-dot.active span {
    display: none !important; // hide owl nav buttons
    background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots_active.png");
}

.owl-theme .owl-dots .owl-dot:hover span {
    display: none !important; // hide owl nav buttons
    background: $red-primary;
}

.owl-theme .owl-dots .owl-dot span {
    display: none !important; // hide owl nav buttons
    width: 20px;
    height: 20px;

    background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots.png") center no-repeat;
    background-repeat: no-repeat;
}

.owl-theme .owl-dots {
    display: none !important; // hide owl nav buttons
    margin-top: 40px;
}

/* FEATURED PRODUCTS */
.featured-products {
    background: $yellow;
    padding: 60px 40px;
    text-align: center;

    .featured-product-container {

        .featured-product {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            img:hover {
                filter: saturate(140%);
            }
        }

        .featured-product-name {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            color: $red;
            margin: 15px;
            display: block;
        }

    }

    .btn-container {
        margin-top: 20px;
    }
}

// HOME STORE LOCATOR

.store-locator {
    font-family: $heebo;
    letter-spacing: 1px;

    .container {
        background: $red;
        padding: 80px 100px 70px 100px;
        margin: 40px auto;
    }

    h2 {
        font-weight: 700;
        color: $yellow;
        font-size: 1.8em;
        padding-bottom: 10px;
        font-family: $roboto;
    }

    p {
        font-size: 1em;
        color: white;
    }

    .btn-right {
        text-align: right;
    }

    .btn {
        margin-top: 20px;
    }
}

// HOME ABOUT
.home-about {
    font-family: $heebo;
    letter-spacing: 1px;
    text-align: center;    
    position: relative;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        filter: brightness(.5);
    }

    h2 {
        color: $yellow;
        font-family: $roboto;
        font-weight: 700;
    }   

    p {
        color: white;
    }

    .text-overlay {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.btn-locator {
    display: none !important;
}

#mainNav {
    .nav-right {
        .navbar-nav li.menu-item a span {
            padding-left: 10px;
        }

        li.menu-item:last-child a span:hover {
            color: $red;
        }
    }
}

#andoks-footer {
    padding: 40px 30px 20px 30px;
    background-color: $red;
    width: 100%;
    overflow: hidden;

    .container,
    .row,
    .col,
    ul {
        padding: 0 !important;
        margin: 0;
        width: 100%;
        max-width: 100% !important;
        padding-inline-start: 0 !important;
    }

    color: white;

    .menu-item a.menu-image-title-after.menu-image-not-hovered img, .menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
        padding-right: 0;
        padding-left: 10px;
    }


    .social-media-menu {
        padding: 5px 0;
        text-align: right;

        h2 {
            color: white;
            font-size: 1.1em;
            margin-bottom: 10px;
            text-align: right;
        }

        ul {
            list-style: none;
            text-align: right;
            li {
                display: inline-block;
                .menu-image-title {
                    display: none;
                }
            }
        }
    }

    .footer-nav {
        margin-top: 0;

        h2 {
            font-family: $heebo;
            color: white;
            font-size: 1.1em;
            margin-bottom: 10px;
        }
        ul {
            list-style: none;
            li {
                font-family: $heebo;
                a {
                    font-size: 1em;
                    -webkit-transition: all .25s;
                            transition: all .25s;
                    text-decoration: none;
                    color: #fff;
                }

                a:hover {
                    color: $yellow-secondary;
                }
            }
        }
    }

    .copyright {
        text-align: center;
        margin-top: 30px;
    }
}

#owl-demo {
    .item img {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* VIDEOS*/
.vbox-overlay {
    background-color: rgba(0,0,0,.85) !important;
}

.video-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.video-wrapper a {
    outline: none;
}

.video-wrapper a > img {
    width: 100%;

    transition: transform 1s;
    transform: scale(1);
    vertical-align: middle;
}

.video-overlay-play-button {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    cursor: pointer;
    -webkit-transition: opacity 150ms;
            transition: opacity 150ms;
}

.video-wrapper circle {
    fill: $red;
    stroke: $red;
}

.video-wrapper circle,
.video-wrapper polygon {
    -webkit-transition: all .35s ease-in-out;
            transition: all .35s ease-in-out;
}

.video-wrapper:hover circle {
    stroke: $yellow;
    fill: $yellow;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

// Warning Content - Under Construction
.warning-content {
    width: 100%;
    margin: 0;

    text-align: center;

    h1 {
        font-family: $heebo;
        font-size: 50px;
        color: $red-primary;
    }
}

.scroll-top-wrapper {
    position: fixed;
    right: 50px;
    bottom: 30px;
    z-index: 3;

    visibility: hidden;
    width: 50px;
    height: 48px;
    overflow: hidden;

    line-height: 48px;

    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
    text-align: center;

    opacity: 0;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $red-primary;
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
            box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.scroll-top-wrapper.show {
    visibility: visible;

    cursor: pointer;

    opacity: 1.0;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .main-container {
        min-height: 100vh; /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
        // padding-bottom: 518px; /* height of your footer */
    }

    #rev_slider_1_1_wrapper {
        height: auto !important;

        #rev_slider_1_1 {
            height: 400px !important;
        }
    }

    .featured-products {
        background-color: $cream;
    }

    #andoks-footer {
        padding: 50px 20px;

        .footer-group {
            margin-bottom: 20px !important;
        }

        .footer-nav {
            h2 {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }

        .copyright {
            text-align: left;
            padding-left: 30px;
            margin-top: 15px;
        }

        .social-media-menu {
            h2 {
                display: none;
            }
            ul {
                text-align: left;
            }
        }
    }
    .owl-carousel .owl-next {
        right: 0;
    }
    .owl-carousel .owl-prev {
        left: 0;
    }
    .video-wrapper {
        width: 80%;
    }
    .owl-carousel .owl-nav [class*=owl-] {
        width: 50px;
        height: 50px;
    }
    #menu-footer-menu {
        padding: 0;
    }
    #menu-social-media-menu {
        padding: 0;
    }
    .left {
        width: 40px;
        height: 60px;
        padding-top: 10px;
        img {
            margin-left: -6px;
        }
    }
    .left::after {
        left: calc(50% - -16px);
    }
    .chicken-modal .modal-content {
        width: auto;
    }

    .chicken-modal .chicken-logo {
        position: initial !important;

        display: block;
        width: 200px;
        margin-left: 52px;
    }
    .modal-content .modal-header {
        padding: 0;
    }
    .store-locator {

        .btn-right {
            text-align: left !important;
        }

        .container {
            padding: 50px;
        }
    }
    .home-about {
        text-align: left;

        .text-overlay {
            width: 73%;
        }

    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .featured-product-container {
        margin-bottom: 20px;
    }

    .featured-product-container:last-child {
        margin-bottom: 0;
    }

    .main-container {
        // padding-bottom: 490px;
    }
    #andoks-footer {
        padding: 50px 20px;

        .footer-group {
            margin-bottom: 20px !important;
        }

        .footer-nav {
            h2 {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }

        .copyright {
            text-align: left;
            padding-left: 30px;
            margin-top: 15px;
        }

        .social-media-menu {
            h2 {
                display: none;
            }
            ul {
                text-align: left;
            }
        }
    }
    .hero-slider,
    #contact-us,
    .single-container {
        margin-top: 52px;
    }

    .chicken-modal .chicken-logo {
        position: initial !important;

        display: block;
        width: 200px;
        margin: 0 auto;
        margin-left: 52px;
    }
    .modal-content .modal-header {
        padding: 0;
    }
    #mainNav #navbarResponsive .center-logo {
        width: 180px;
        height: 180px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav {
        float: none;
    }
    .nav.navbar-nav {
        float: left;
        width: 100%;
        margin: 0 0 0 -15px;
        clear: both;
    }
    .menu-btn-2 {
        display: block;
    }

    .chicken-modal .modal-content {
        height: auto;
    }

    .center-logo {
        display: none;
    }
    .chicken-modal .modal-content {
        left: 0;

        width: auto;
        padding: 20px 50px;
    }
    .vertical-alignment-helper {
        width: auto;
        margin: 0 auto;
    }
    #contact-us .list-location {
        padding: 100px;
    }
    .search-field {
        position: relative;

        width: 347px;
        margin: 0 auto;

        text-align: center;
    }
    #contact-us .list-location #b-location-list #b-search {
        width: 300px;
    }

    #mainNav .mobile-logo {
        width: 170px;
        height: 165px;
        a {
            bottom: 17px;
            img {
                width: 140px;
            }
        }
    }
    .scroll-top-wrapper {
        right: 20px;
    }
    .section {
        padding: 30px 20px 20px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    #nav-container-fluid,
    #featured-items .container {
        display: initial;
        max-width: 97.5% !important; /*this gives it the precise width to match the Bootstrap defaults*/
        padding: 0;
    }

    #mainNav .navbar-nav li.nav-item a span {
        font-size: 16px;
    }
    #mainNav .left-nav {
        padding-left: 180px;
    }
    #mainNav #navbarResponsive .center-logo {
        width: 180px;
        height: 180px;
    }
    .center-logo a img {
        position: relative;
        right: 15px;
        width: 180px !important;
    }
    #mainNav.shrink .center-logo a img {
        width: 125px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .featured-product-container {
        margin-bottom: 20px;
    }

    .main-container {
        // padding-bottom: 520px;
    }

    .section {
        padding: 30px 20px 20px;
    }

    #andoks-footer .footer-nav ul li {
        display: block;
    }
    
    .owl-carousel .owl-nav [class*=owl-] {
        width: 40px;
        height: 40px;
    }
    
    .owl-carousel .owl-prev {
        bottom: -30%;
    }
    
    .owl-carousel .owl-next {
        bottom: -30%;
    }

    #mainNav .mobile-logo {
        width: 150px;
        height: 150px;
    }
    
    #mainNav .mobile-logo a {
        bottom: 25px;
    }
    
    #mainNav .mobile-logo a img {
        width: 90px;
    }
    
    .chicken-modal .modal-content {
        width: 300px;
        padding: 20px;
    }
    
    #contact-us .list-location {
        padding: 50px 20px;
    }
    
    .search-field {
        position: relative;
        width: 307px;
        margin: 0 auto;
        text-align: center;
    }
    
    #contact-us .list-location #b-location-list #b-search {
        width: 260px;
    }
    
    .video-wrapper {
        width: 100%;
    }
    
    .store-locator {
        text-align: center;

        .btn-right {
            text-align: center !important;
        }

        .container {
            padding: 50px;
            margin: 0 auto;
        }
    }
    .home-about {
        .text-overlay {
            text-align: center;

        }
    }
}