// Styling for the navbar
#mainNav {
    z-index: 999;

    font-family: $roboto;
    font-weight: 700;

    text-transform: uppercase;

    border: none;
    background: $cream;
    ;
    a:focus {
        outline: none;
    }
    .container {
        padding: 0;
    }
    .navbar-brand {
        font-size: 1.1rem;

        color: white;
        &.active,
        &:active,
        &:focus,
        &:hover {
            color: $red-primary;
        }
    }
    .navbar-nav {
        letter-spacing: 1px;
        li.nav-item,
        li.menu-item {
            &.current-menu-item {
                a > span {
                    // color: $text-color-dark;
                    // border-bottom: 2px solid $text-color-dark;
                    color: $red;
                    outline: none;
                    // text-shadow: 0 0 15px rgba(0,0,0,.5);
                }
            }

            a span {
                padding: 0;

                font-size: .9em;

                text-decoration: none;
                letter-spacing: 1px;

                color: $gray;
                border-bottom: 2px solid transparent;
                &:hover {
                    // color: $text-color-dark;
                    // border-bottom: 2px solid $text-color-dark;
                    color: $red;
                    outline: none;
                    // text-shadow: 0 0 15px rgba(0,0,0,.5);
                }
                &:active,
                &:focus {
                    // color: $red-primary;
                    color: $red;
                }
            }
        }
    }
    .nav-left {
        text-align: left;
    }
    .nav-center {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);        
    }
    .nav-right {
        text-align: center;
        position: absolute;
        right: 0;
        top: 50%;

        transform: translate(0, -50%);
        z-index: 2;

        li.menu-item:last-child {
            // &.current-menu-item {
            //     a > span {
            //         // color: $text-color-dark;
            //         // border-bottom: 2px solid $text-color-dark;
            //         color: $white;
            //         outline: none;
            //         // text-shadow: 0 0 15px rgba(0,0,0,.5);
            //     }
            // }

            // a span {
            //     color: $white;

            //     &:hover {
            //         color: $white;
            //     }
            //     &:active,
            //     &:focus {
            //         color: $white;
            //     }
            // }
        }
    }
    // .red-bg {
    //     height: 83px;
    //     width: 150px;
    //     position:absolute;
    //     top: 0;
    //     right: 0;
    //     z-index: 1;
    //     background-color: $red;
    // }
    .navbar-toggler {
        padding: 11px;

        font-size: 14px;

        text-transform: uppercase;

        color: $red-primary;
        border-color: $red-primary;
        &:focus,
        &:hover {
            color: white;
            border-color: $red-primary;
            background-color: $red-primary;
        }
    }

    .mobile-logo {
        position: absolute;
        top: -62px;
        left: 50%;

        display: block;
        width: 180px;
        height: 180px;
        padding: 0;

        transform: translate(-50%);

        border-radius: 50%;
        // background: #fff;
        // box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
        a {
            position: absolute;
            bottom: 30px;
            left: 50%;

            padding: 0;

            transform: translateX(-50%);
            img {
                width: 140px;
            }
        }
    }
}

#mainNav.shrink {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
}

@media(min-width:1200px) {
    #mainNav .navbar-nav > li.nav-item,
    #mainNav .navbar-nav > li.menu-item {
        padding: 4px 20px;
    }
}

@media(min-width:992px) {
    #mainNav {
        // padding-top: 25px;
        // padding-bottom: 25px;

        -webkit-transition: padding-top .3s, padding-bottom .3s;
           -moz-transition: padding-top .3s, padding-bottom .3s;
                transition: padding-top .3s, padding-bottom .3s;
        .navbar-brand {
            font-size: 16px;

            -webkit-transition: all .3s;
               -moz-transition: all .3s;
                    transition: all .3s;
        }

        .mobile-logo {
            display: none;
        }

        #navbarResponsive {
            // position: relative;
            .brand-logo {
                position: absolute;
                left: 0;
                // width: 211px;
                // height: 211px;

                width: auto;
                height: 220px;

                -webkit-transition: all .3s;
                        transition: all .3s;
                // transform: translate(-50%);
                // border-radius: 50%;

                // background: #fff;
                // box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
                &:hover {
                    // box-shadow: 0 0 0 5px $red-primary;
                }
                a {
                    position: absolute;
                    // bottom: 30px;
                    top: -90px;
                    // left: 50%;

                    transition: all .3s;
                    // transform: translateX(-50%);

                    img {
                        // width: 163px;
                        // margin-top: -50px;
                        // margin-left: 100px;
                        width: 150px;

                        -webkit-transition: all .3s;
                                transition: all .3s;
                    }
                }
            }
        }
        .navbar-nav > li.nav-item,
        .navbar-nav > li.menu-item {
            padding: 4px 20px;
        }
        .navbar-nav > li.nav-item > a.nav-link.active
        .navbar-nav > li.menu-item > a.nav-link.active {
            color: white;
            border-radius: 3px;
            background: $text-color-dark;
            &:active,
            &:focus,
            &:hover {
                color: white;
                background: $text-color-dark;
            }
        }
        .navbar-collapse {
            height: 67px;
        }
        // .left-nav {
        //     // padding-left: 75px;
        //     text-align: center;
        //     position: absolute;
        //     right: 0;

        //     .search-nav {
        //         .menu-image-title {
        //             display: none;
        //         }
        //     }
        // }
    }
    #mainNav.shrink {
        padding: 0;

        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
        #navbarResponsive {
            position: relative;
            .center-logo {
                position: absolute;
                left: 50%;
                // width: 150px;
                // height: 150px;

                width: 195px;
                height: 220px;

                -webkit-transition: all .3s;
                        transition: all .3s;
                transform: translate(-50%);

                // border-radius: 50%;
                // background: #fff;
                // box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
                &:hover {
                    // box-shadow: 0 0 0 5px $red-primary;
                }
                a {
                    position: absolute;
                    bottom: 17px;
                    left: 50%;

                    transition: all .3s;
                    transform: translateX(-50%);
                    img {
                        // width: 120px;
                        width: 195px;

                        -webkit-transition: all .3s;
                                transition: all .3s;
                    }
                }
            }
        }
    }
}

#menu-2 .main-menu-wrapper #menu-main-menu {
    display: block;
    padding: 0;
    margin-top: 30px;

    list-style: none;

    text-align: center;
}
#menu-2 .main-menu-wrapper #menu-main-menu li {
    position: relative;

    padding: 10px 0;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 3px;
    height: 100%;

    content: "";
    -webkit-transition: width .3s ease-in;
       -moz-transition: width .3s ease-in;
        -ms-transition: width .3s ease-in;
            transition: width .3s ease-in;

    background-color: $red-primary;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;

    -webkit-transition: width .3s ease-in;
       -moz-transition: width .3s ease-in;
        -ms-transition: width .3s ease-in;
            transition: width .3s ease-in;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:hover a {
    color: $yellow-secondary;
}
#menu-2 .main-menu-wrapper #menu-main-menu li a,
#menu-2 .login-sign-up a {
    font-size: 14px;
    font-weight: 700;

    -webkit-transition: color .5s ease-in;
       -moz-transition: color .5s ease-in;
        -ms-transition: color .5s ease-in;
            transition: color .5s ease-in;
    text-transform: uppercase;

    color: $red-primary;
}
