// FONTS
$roboto: 'Roboto', sans-serif;
$heebo: 'Heebo', sans-serif;

// COLORS
$yellow-primary: #ece819;
$yellow-secondary: #F8BF00;
$red-primary: #e1261c;
$red-secondary: #bf2219;
$text-color-dark: #101820;

$lightyellow: #FAD148;
$yellow: #F8BF00;
$red: #E1261C;
$gray: #333333;
$cream: #FFFCF2;
$white: #FFFFFF;
$black: #212529;
