/* Initial Style */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: initial !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0;
  line-height: normal;
}
ul {
  margin: 0;
}
a, input {
  text-decoration: none !important;
  outline: none !important;
}
.nopadding {
  padding: 0;
}
/* Initial Style */
/* Default Effects */
.transition {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
/* Default Effects */
/* Center Element Horizontal/Vertical */
.full-center {
  align-items: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
/* Center Element Horizontal/Vertical */
/* No Result */
.no-result {
  padding: 80px 0;
  text-align: center;
}
/* No Result */
/* 5 Column */
.col-xs-5items, .col-sm-5items, .col-md-5items, .col-lg-5items {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 0;
}
.col-xs-5items {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5items {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5items {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5items {
    width: 20%;
    float: left;
  }
}
/* 5 Column */
/* Contact Form 7 Notification Style */
.wpcf7-response-output {
  border: 0 !important;
  color: #fff;
  font-weight: 700;
  margin: 0;
  margin: 10px 0 !important;
  padding: 20px !important;
}
.wpcf7-mail-sent-ok {
  background: #4caf50;
}
.wpcf7-mail-sent-ng {
  background: #f44336;
}
.wpcf7-spam-blocked {
  background: #ff9800;
}
.wpcf7-validation-errors {
  background: #e5d92e;
}
/* Contact Form 7 Notification Style */
/* Archive */
.archive-container {
  padding: 75px 0;
}
.post-item {
  margin-bottom: 65px;
}
.post-item .details h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.post-item .details p {
  line-height: 1.7;
}
.post-item .date {
  border-top: 1px solid #cacaca;
  margin: 20px 0;
  padding-top: 15px;
}
.post-item a {
  background: #eee;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 14px 0;
  width: 130px;
}
.post-item a:hover {
  background: #eee;
}
/* Archive */
/* Single */
.single-container {
  padding: 75px 0;
}
.single-container .title-part {
  margin-bottom: 50px;
}
.single-container .title-part h2 {
  margin-bottom: 10px;
}
/* Single */
/* 404 */
.page-not-found {
  padding: 100px 0;
}
.page-not-found h2 {
  font-size: 200px;
  font-weight: 700;
  letter-spacing: 15px;
}
.page-not-found p {
  font-size: 50px;
}
/* 404 */
/* Responsive */
@media (max-width: 600px) {
  .archive-container [class*="col-"] {
    width: 100%;
  }
  .archive-container .details {
    height: auto !important;
  }
}
/* Responsive */
@font-face {
  font-family: 'Breeze Personal Use';
  src: url(../../fonts/breeze/Breeze-Personal-Use.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  src: url(../../fonts/ubuntu/Ubuntu-Light.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-LightItalic.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  src: url(../../fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  src: url(../../fonts/ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-MediumItalic.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  src: url(../../fonts/ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-BoldItalic.ttf);
}
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.breeze {
  font-family: 'Breeze Personal Use';
}
.ubuntu-italic {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}
.ubuntu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.ubuntu-light-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.ubuntu-regular {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.ubuntu-medium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
.ubuntu-medium-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ubuntu-bold {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
.ubuntu-bold-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
}
#locator {
  margin-top: 125px;
}
#locator .list-location {
  padding: 0 85px 0 100px;
  padding-top: 175px;
  background-color: #e1261c;
  align-items: end;
}
#locator .list-location.location-result-container {
  padding-top: 40px;
}
#locator .list-location .content > p:first-child {
  margin-bottom: 0;
}
#locator .list-location #b-location-list {
  width: 100%;
}
#locator .list-location #b-location-list .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width: 77px;
  height: 54px;
  content: "";
  cursor: pointer;
  background: url(../../imgs/search.png) center/100% no-repeat;
}
#locator .list-location #b-location-list .b-preloader {
  z-index: 97;
  border-radius: 26px;
  background-size: 24px;
}
#locator .list-location #b-location-list #b-search {
  width: 340px;
  padding: 15px 13px;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #fff;
}
#locator .list-location #b-location-list #b-location {
  padding: 0;
  margin: 0;
  background: transparent;
}
#locator .list-location #b-location-list #b-location ul li {
  display: none;
}
#locator .list-location #b-location-list #b-location ul.searching {
  width: 340px;
  height: 150px;
  padding: 10px;
  margin-top: 3px;
  overflow-y: auto;
  border-radius: 3px;
  background: #fff;
}
#locator .location-result-container .content {
  width: 100%;
}
#locator .location-result-container .content .location-result-search-field {
  position: relative;
  margin-bottom: 40px;
}
#locator .location-result-container .content .location-result-search-field input[name="search-location"] {
  width: 100%;
  padding: 11px 50px 11px 15px;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  border: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
#locator .location-result-container .content .location-result-search-field i {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 1;
  font-size: 25px;
  color: #757575;
}
#locator .location-result-container .content .padd-r-10 {
  padding-right: 10px;
}
#locator .location-result-container .content .location-result-list {
  height: 490px;
}
#locator .location-result-container .content .location-result-list .active-list-item {
  border: 5px solid #ff827b !important;
}
#locator .location-result-container .content .location-result-list .location-result-list-item {
  padding: 20px 25px;
  margin-bottom: 22px;
  cursor: pointer;
  border: 5px solid #fff;
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
#locator .location-result-container .content .location-result-list .location-result-list-item:hover {
  border: 5px solid #ff827b;
}
#locator .location-result-container .content .location-result-list .location-result-list-item h2 {
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #d72105;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p {
  position: relative;
  padding-left: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p:not(:last-child) {
  margin-bottom: 20px;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p:last-child {
  margin-bottom: 0;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p i {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 20px;
  color: #c6c6c6;
}
@media (max-width: 991px) {
  #locator {
    margin-top: 52px;
  }
  #locator .list-location {
    padding: 40px 0 55px;
  }
  #locator .location-result-container {
    padding: 40px;
  }
  #locator .search-field {
    text-align: left !important;
  }
  #locator .search-field #b-search {
    width: 310px !important;
  }
}
.nopadding {
  padding: 0;
}
.no-pad-right {
  padding-right: 0;
}
.no-pad-left {
  padding-left: 0;
}
.show-grid {
  margin-bottom: 15px;
}
.show-grid-3 {
  margin-bottom: 30px;
}
.show-grid-4 {
  margin-bottom: 40px;
}
.show-grid-5 {
  margin-bottom: 50px;
}
/**careers page**/
#careers {
  padding: 80px 0 40px;
  margin-top: 125px;
}
#careers .careers-category-tabs {
  margin-bottom: 40px;
  text-align: center;
  border-top: 1px solid #e1261c;
  border-bottom: 1px solid #e1261c;
}
#careers .careers-category-tabs ul {
  padding: 9px 0;
}
#careers .careers-category-tabs ul li {
  display: inline-block;
  margin: 0 6px;
  list-style: none;
}
#careers .careers-category-tabs ul li a {
  display: inline-block;
  padding: 5.5px 12px;
  font-size: 16px;
  color: #101820;
  border-radius: 6px;
  background: transparent;
}
#careers .careers-category-tabs ul li a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background: #e1261c;
}
#careers .careers-category-tabs ul li a.active {
  pointer-events: none;
  color: #fff;
  background: #e1261c;
}
#careers .career-image-title-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 210px;
  padding-top: 15px;
  border-radius: 5px;
  background: #f8bf00;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
}
#careers .career-image {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border: 6px solid #e1261c;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#careers .career-title {
  padding: 0 10px;
}
#careers .career-title h4 {
  margin-top: 6px;
  font-size: 15px;
  text-transform: uppercase;
  color: #101820;
}
#careers .career-title p {
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #101820;
}
#careers .list-panel {
  margin-top: 15px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#careers .list-title a {
  position: relative;
  display: block;
  padding: 12px 17px;
  font-size: 14px;
  color: #101820;
  background-color: #fff;
}
#careers .list-title a.collapsed:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 15px;
  height: 16px;
  margin: auto 0;
  content: "";
  background-image: url(../../imgs/arrow-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
#careers .list-title a:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 15px;
  height: 4px;
  margin: auto 0;
  content: "";
  background-image: url(../../imgs/arrow-minus.png);
  background-repeat: no-repeat;
  background-position: center;
}
#careers .list-description {
  padding: 15px 17px;
  color: #fff;
  background: #e1261c;
}
#careers .list-description p {
  margin: 0;
  line-height: 15px;
  text-align: justify;
}
#careers .no-careers-found h2 {
  font-size: 34px;
  color: #e1261c;
}
#careers .c-padding {
  padding: 0 15px;
}
#careers .ro-container-padding {
  padding: 0 30px;
}
#careers .ro-padding {
  padding: 0 7px;
}
#careers .bg-yellow {
  background: #f8bf00;
}
#careers .bg-white {
  background: #fff;
}
#careers .we-need-you-title {
  margin-left: 20px;
}
#careers .we-need-you-title h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
}
#careers .we-need-you-title p {
  font-size: 16px;
  color: #fff;
}
#careers .ro-main-wrapper {
  padding: 16px 14px 20px 14px;
}
#careers .ro-main-wrapper h4 {
  margin-bottom: 15px;
  font-size: 13px;
  color: #101820;
}
#careers .ro-main-wrapper p {
  margin-bottom: 0;
  font: 12px "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 15px;
  text-align: justify;
  color: #101820;
}
#careers .onsite-recruitment-title {
  margin: 35px 0 15px 20px;
}
#careers .onsite-recruitment-title p {
  font-size: 16px;
  color: #fff;
}
#careers .recruitment-link {
  margin-top: 15px;
}
#careers .recruitment-link p {
  font-size: 16px;
  color: #fff;
}
#careers .recruitment-link p > a {
  text-decoration: underline !important;
  color: #fff;
}
#careers .recruitment-link p > a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #e1261c;
}
/**careers page**/
/**contact us page**/
#contact_us {
  padding: 70px 0 30px;
  margin-top: 125px;
}
#contact_us .contact-us-title h2 {
  margin-bottom: 25px;
  font-size: 40px;
  color: #101820;
}
#contact_us .location-details {
  margin-bottom: 35px;
}
#contact_us .location-details span {
  position: relative;
  float: left;
}
#contact_us .location-details p {
  margin-bottom: 0;
  margin-left: 43px;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #101820;
}
#contact_us .contact-details {
  margin-bottom: 17px;
}
#contact_us .contact-details span {
  position: relative;
  float: left;
}
#contact_us .contact-details p {
  position: relative;
  top: 2px;
  margin-bottom: 0;
  margin-left: 43px;
  font-size: 16px;
  text-align: justify;
  color: #101820;
}
#contact_us .contact-details:last-of-type {
  text-decoration: underline;
}
#contact_us #map-area {
  width: 390px;
  height: 230px;
  margin-top: 30px;
  border-radius: 7px;
}
#contact_us .inquiry-title h2 {
  margin-bottom: 25px;
  font-size: 40px;
  color: #101820;
}
#contact_us .form-group {
  margin-bottom: 20px;
}
#contact_us .form-group h4 {
  margin-bottom: 13px;
  font-size: 17px;
  color: #101820;
}
#contact_us .form-group textarea.messageheight {
  height: 200px;
}
#contact_us .form-control {
  height: 35px;
  font: 16px "Ubuntu", sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  background: #fff;
}
#contact_us input[type="submit"] {
  float: right;
  width: 203px;
  height: 58px;
  margin-top: 32px;
  font: 20px "Ubuntu", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 4px;
  outline: none;
  background: #e1261c;
}
#contact_us input[type="submit"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#contact_us input[type="submit"]:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #e1261c;
  background: #f8bf00;
}
#contact_us div.wpcf7 .ajax-loader {
  float: left;
  margin: 3px 0 0 -13px;
}
/**contact us page**/
/**promos page**/
#promos {
  padding: 70px 0 40px;
  margin-top: 125px;
}
#promos .pro-padding {
  padding: 0 7.5px;
}
#promos .promos-title h2 {
  margin: 0 0 25px 33px;
  font-size: 40px;
  color: #101820;
}
#promos .main-promo-image {
  position: relative;
  width: 100%;
  height: 257px;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#promos .main-promo-wrapper {
  height: 257px;
  padding: 40px 22px;
  background: #fff;
}
#promos .main-promo-wrapper .main-promo-title h4 {
  margin-bottom: 7px;
  font-size: 20px;
  color: #101820;
}
#promos .main-promo-wrapper .main-promo-excerpt p {
  margin-bottom: 0;
  font: 13px "Ubuntu", sans-serif;
  line-height: 15px;
  text-align: justify;
  color: #101820;
}
#promos .main-promo-wrapper .main-promo-rm-btn {
  margin-top: 8px;
}
#promos .main-promo-wrapper .main-promo-rm-btn a {
  display: inline-block;
  font-size: 13px;
  color: #101820;
}
#promos .promo-image {
  position: relative;
  width: 371px;
  height: 257px;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/**promos page**/
/**about us page**/
#about_us {
  margin-top: 125px;
}
#about_us .__show_grid_70 {
  margin-bottom: 70px;
}
#about_us .about-us-bg {
  padding: 30px 0 135px;
}
#about_us .about-us-bg .andoks-title h2 {
  font-size: 84px;
  text-align: center;
  color: #e1261c;
  text-shadow: 3px 3px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
#about_us .about-us-bg .andoks-title h2 span {
  position: relative;
  right: -4px;
  text-shadow: 3px 4px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
#about_us .about-us-bg .andoks-title img {
  max-width: 52%;
  margin: 30px 0 5px;
}
#about_us .about-us-bg .gallery_description {
  margin-top: 25px;
}
#about_us .about-us-bg .gallery_description p {
  line-height: 26px;
}
#about_us .about-us-bg .gallery_image {
  height: 100%;
}
#about_us .tab-wrapper {
  border-radius: 12px;
  background: #d83016;
}
#about_us .tab-wrapper .tab-title h4 {
  padding: 22px 12px;
  font-size: 26px;
  color: #101820;
  border-radius: 12px;
  background: #fff;
}
#about_us .tab-wrapper .tab-content {
  padding: 22px 15px 36px;
}
/**about us page**/
/**products page**/
#products {
  padding: 135px 0;
  margin-top: 125px;
}
#products .product-cat-image {
  width: 348px;
  height: 348px;
  margin: 0 auto;
  border: 10px solid #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
}
#products .product-cat-title a {
  display: inline-block;
  margin-top: 35px;
  font-size: 56px;
  color: #101820;
}
#products .product-cat-title a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #e1261c;
}
/**products page**/
/***custom-media***/
@media (min-width: 992px) and (max-width: 1200px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  #careers .careers-category-tabs ul li {
    margin: 0 5px;
  }
  #contact_us {
    background-size: 100% 910px !important;
  }
  #contact_us input[type="submit"] {
    width: 130px;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  /**promos**/
  /**promos**/
  /**about us**/
  /**about us**/
  /**products**/
  /**products**/
  /***modal store locator form***/
  /***modal store locator form***/
  #careers {
    margin-top: 52px;
  }
  #careers .careers-category-tabs ul li {
    display: block;
    margin: 5px 0;
  }
  #careers .list-description p {
    text-align: left;
  }
  #contact_us {
    margin-top: 52px;
    background-size: 100% 1500px !important;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 6px;
  }
  #contact_us .inquiry-title h2 {
    margin-top: 40px;
  }
  #promos {
    margin-top: 52px;
  }
  #promos .main-promo-wrapper {
    padding: 15px 10px;
  }
  #promos .main-promo-wrapper .main-promo-title h4 {
    font-size: 16px;
  }
  #promos .main-promo-wrapper .main-promo-excerpt p {
    font: 11.5px "Ubuntu", sans-serif;
  }
  #about_us {
    margin-top: 52px;
  }
  #about_us .about-us-bg .andoks-title h2 {
    margin-bottom: 20px;
  }
  #products {
    margin-top: 52px;
  }
  #products .product-cat-image {
    width: 300px;
    height: 300px;
  }
  #products .product-cat-title a {
    margin-top: 25px;
    font-size: 48px;
  }
  .chicken-modal .chicken-logo {
    margin-left: 120px !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  /**promos**/
  /**promos**/
  /**about us**/
  /**about us**/
  /**products**/
  /**products**/
  /***modal store locator form***/
  /***modal store locator form***/
  #careers {
    margin-top: 52px;
    background-size: 100% 1500px !important;
  }
  #careers .c-pad-right {
    padding-right: 15px;
  }
  #careers .c-pad-left {
    padding-left: 15px;
  }
  #careers .career-image-title-wrapper {
    width: 175px;
    margin: 0 auto;
  }
  #careers .careers-category-tabs ul li {
    display: block;
    margin: 5px 0;
  }
  #careers .list-description p {
    text-align: left;
  }
  #contact_us {
    margin-top: 52px;
    background-size: 100% 1800px !important;
  }
  #contact_us input[type="submit"] {
    float: left;
    margin-top: 5px;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 6px;
  }
  #contact_us .inquiry-title h2 {
    margin-top: 40px;
  }
  #promos {
    margin-top: 52px;
  }
  #promos .pad-right {
    padding-right: 15px;
  }
  #promos .pad-left {
    padding-left: 15px;
  }
  #promos .main-promo-image {
    width: 371px;
  }
  #promos .main-promo-wrapper {
    width: 371px;
    height: 220px;
    margin: 0 auto;
  }
  #promos .main-promo-wrapper .main-promo-title h4 {
    font-size: 16px;
  }
  #promos .main-promo-wrapper .main-promo-excerpt p {
    font: 11.5px "Ubuntu", sans-serif;
  }
  #about_us {
    margin-top: 52px;
  }
  #about_us .about-us-bg .andoks-title h2 {
    margin-bottom: 20px;
  }
  #about_us .tab-wrapper {
    margin-bottom: 30px;
  }
  #products {
    margin-top: 52px;
  }
  #products .product-cat-image {
    width: 300px;
    height: 300px;
  }
  #products .product-cat-title a {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 48px;
  }
  .chicken-modal .chicken-logo {
    margin-left: 120px !important;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  /**promos**/
  /**promos**/
  /**about us**/
  /**about us**/
  /**products**/
  /**products**/
  /***modal store locator form***/
  /***modal store locator form***/
  #careers {
    margin-top: 52px;
    background-size: 100% 1500px !important;
  }
  #careers .c-pad-right {
    padding-right: 15px;
  }
  #careers .c-pad-left {
    padding-left: 15px;
  }
  #careers .career-image-title-wrapper {
    width: 175px;
    margin: 0 auto;
  }
  #careers .careers-category-tabs ul li {
    display: block;
    margin: 5px 0;
  }
  #careers .list-description p {
    text-align: left;
  }
  #contact_us {
    margin-top: 52px;
    background-size: 100% 1800px !important;
  }
  #contact_us input[type="submit"] {
    float: left;
    margin-top: 5px;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 6px;
  }
  #contact_us .inquiry-title h2 {
    margin-top: 40px;
  }
  #contact_us #map-area {
    width: 100%;
  }
  #promos {
    margin-top: 52px;
  }
  #promos .pro-padding {
    padding: 0 15px;
  }
  #promos .pad-right {
    padding-right: 15px;
  }
  #promos .pad-left {
    padding-left: 15px;
  }
  #promos .main-promo-image {
    width: 371px;
  }
  #promos .main-promo-wrapper {
    width: 371px;
    height: 220px;
    max-width: 100%;
    margin: 0 auto;
  }
  #promos .main-promo-wrapper .main-promo-title h4 {
    font-size: 16px;
  }
  #promos .main-promo-wrapper .main-promo-excerpt p {
    font: 11.5px "Ubuntu", sans-serif;
  }
  #about_us {
    margin-top: 52px;
  }
  #about_us .about-us-bg .andoks-title h2 {
    margin-bottom: 20px;
  }
  #about_us .tab-wrapper {
    margin-bottom: 30px;
  }
  #products {
    margin-top: 52px;
  }
  #products .product-cat-image {
    width: 260px;
    height: 260px;
  }
  #products .product-cat-title a {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .search-bar {
    width: 100% !important;
  }
}
/***small devices***/
@media (max-width: 414px) {
  #contact_us .location-details p {
    font-size: 14px;
  }
  #contact_us .contact-details p {
    font-size: 14px;
  }
  #contact_us .g-recaptcha {
    transform: scale(0.93, 0.95);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
#mainNav {
  z-index: 999;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #f8bf00;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-brand {
  font-size: 1.1rem;
  color: white;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #e1261c;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;
}
#mainNav .navbar-nav li.nav-item.current-menu-item a > span {
  color: #fff;
  outline: none;
  text-shadow: 0 0 15px rgba(0, 0, 0, .5);
}
#mainNav .navbar-nav li.nav-item a span {
  padding: 0;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0;
  color: #e1261c;
  border-bottom: 2px solid transparent;
}
#mainNav .navbar-nav li.nav-item a span:hover {
  color: #fff;
  outline: none;
  text-shadow: 0 0 15px rgba(0, 0, 0, .5);
}
#mainNav .navbar-nav li.nav-item a span:active, #mainNav .navbar-nav li.nav-item a span:focus {
  color: #fff;
}
#mainNav .navbar-toggler {
  padding: 11px;
  font-size: 14px;
  text-transform: uppercase;
  color: #e1261c;
  border-color: #e1261c;
}
#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: white;
  border-color: #e1261c;
  background-color: #e1261c;
}
#mainNav .mobile-logo {
  position: absolute;
  top: -62px;
  left: 50%;
  display: block;
  width: 180px;
  height: 180px;
  padding: 0;
  transform: translate(-50%);
  border-radius: 50%;
}
#mainNav .mobile-logo a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
}
#mainNav .mobile-logo a img {
  width: 140px;
}
#mainNav.shrink {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
}
@media (min-width: 1200px) {
  #mainNav .navbar-nav > li.nav-item {
    padding: 4px 15px;
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .mobile-logo {
    display: none;
  }
  #mainNav #navbarResponsive {
    position: relative;
  }
  #mainNav #navbarResponsive .center-logo {
    position: absolute;
    left: 50%;
    width: auto;
    height: 280px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: translate(-50%);
  }
  #mainNav #navbarResponsive .center-logo a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
  #mainNav #navbarResponsive .center-logo a img {
    width: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav > li.nav-item {
    padding: 4px 15px;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: white;
    border-radius: 3px;
    background: #101820;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: white;
    background: #101820;
  }
  #mainNav .navbar-collapse {
    height: 75px;
  }
  #mainNav .left-nav {
    padding-left: 75px;
  }
  #mainNav .left-nav .search-nav .menu-image-title {
    display: none;
  }
  #mainNav.shrink {
    padding: 0;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
  }
  #mainNav.shrink #navbarResponsive {
    position: relative;
  }
  #mainNav.shrink #navbarResponsive .center-logo {
    position: absolute;
    left: 50%;
    width: 195px;
    height: 220px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: translate(-50%);
  }
  #mainNav.shrink #navbarResponsive .center-logo a {
    position: absolute;
    bottom: 17px;
    left: 50%;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
  #mainNav.shrink #navbarResponsive .center-logo a img {
    width: 195px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
#menu-2 .main-menu-wrapper #menu-main-menu {
  display: block;
  padding: 0;
  margin-top: 30px;
  list-style: none;
  text-align: center;
}
#menu-2 .main-menu-wrapper #menu-main-menu li {
  position: relative;
  padding: 10px 0;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 3px;
  height: 100%;
  content: "";
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
  background-color: #e1261c;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:hover:before, .sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:hover a {
  color: #f8bf00;
}
#menu-2 .main-menu-wrapper #menu-main-menu li a, #menu-2 .login-sign-up a {
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  text-transform: uppercase;
  color: #e1261c;
}
body {
  background: #f8bf00;
}
#offside-container {
  background: #fff;
}
/* General*/
.btn-red {
  width: 200px;
  padding-bottom: 11px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  color: white;
  border-radius: 0;
  background: #e1261c;
}
.btn-red.active, .btn-red:active, .btn-red:focus, .btn-red:hover {
  color: white;
  background: #bf2219;
}
.btn-yellow {
  width: 200px;
  padding-bottom: 11px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  color: white;
  border-radius: 0;
  background: #ece819;
}
.btn-yellow.active, .btn-yellow:active, .btn-yellow:focus, .btn-yellow:hover {
  color: white;
  background: #f8bf00;
}
.semi-rounded {
  border-radius: 8px;
}
.primary-bg {
  position: relative;
  background-color: #f8bf00;
}
.left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;
  width: 60px;
  height: 80px;
  padding-top: 18px;
  margin: auto;
  border: none;
  -webkit-box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
}
.left::after {
  position: absolute;
  top: 20%;
  left: calc(50% - -30px);
  width: 16px;
  height: 24px;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ece819;
  -webkit-box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
  -webkit-clip-path: polygon(0 0, 99% 47%, 0% 100%);
  clip-path: polygon(0 0, 99% 47%, 0% 100%);
}
.left.active, .left:active, .left:focus, .left:hover {
  background-color: #f8bf00;
}
.left.active::after, .left:active::after, .left:focus::after, .left:hover::after {
  background-color: #f8bf00;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type=text], textarea {
  position: relative;
  z-index: 99;
  font-size: 1.5em;
  resize: none;
  border: 1px solid #f7c202;
  border-radius: 8px;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.section {
  padding: 90px 20px 70px;
}
.offside {
  width: 300px;
  padding: 20px 0;
  background-color: #ffe200;
}
/* Offside buttons */
.offside-button {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto 10px auto;
  cursor: pointer;
  text-align: center;
  color: #000;
  background: #ffe200;
}
.offside-button:hover {
  background: #ffd900;
}
.site-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: visibility 0s ease, opacity 0.2s ease;
  -moz-transition: visibility 0s ease, opacity 0.2s ease;
  -o-transition: visibility 0s ease, opacity 0.2s ease;
  transition: visibility 0s ease, opacity 0.2s ease;
  opacity: 0;
  background-color: #fff;
}
/* Abstract icon class*/
.icon {
  position: relative;
  display: block;
  padding: 10px 0;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: none;
}
.icon .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #e1261c;
}
.icon:hover .icon-bar {
  background-color: #bf2219;
}
.icon:focus {
  outline: 0;
}
/* Hamburger button */
.icon--hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}
/* Close button */
.icon--cross {
  padding: 20px;
}
.icon--cross > .icon-bar + .icon-bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon--cross > .icon-bar {
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Helpers */
.h--left {
  float: left;
}
.h--right {
  float: right;
}
/* Demo specific: typical */
/* Just few cosmetic CSS for overlay fade in/out */
.offside-js--is-open .site-overlay {
  visibility: visible;
  -webkit-transition-delay: delay 0s;
  -o-transition-delay: delay 0s;
  transition-delay: delay 0s;
  opacity: 0.7;
}
.menu-btn-2 {
  display: none;
}
/* Chicken Modal*/
.chicken-modal .modal-dialog {
  position: relative;
}
.chicken-modal .modal-dialog .modal-content .modal-body {
  overflow: hidden !important;
}
.chicken-modal .modal-dialog .chicken-logo {
  position: absolute;
  top: -37%;
  left: -170px;
  z-index: 9;
}
.vertical-alignment-helper {
  display: table;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  pointer-events: none;
  /* This makes sure that we can still click outside of the modal to close it */
}
.chicken-modal .modal-content {
  width: 700px;
  height: auto;
  padding: 20px 90px 20px 110px;
  overflow: unset !important;
  text-align: center;
  background: #ece819;
}
.chicken-modal .chicken-logo, .center-logo {
  display: block;
}
.chicken-modal .modal-body {
  overflow: hidden;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
.modal-content .modal-header {
  padding: 20px 0 0;
  border: none;
}
.modal-content .modal-header h2 {
  margin: 0 auto;
  font-family: "Breeze Personal Use";
  font-size: 36px;
  font-weight: 700;
  color: #e1261c;
}
.modal-content .modal-body {
  padding-top: 0;
}
.modal-content button.close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 99;
  width: 30px;
  width: 32px;
  height: 30px;
  height: 32px;
  padding: 0;
  padding-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  border-radius: 50%;
  outline: none;
  background: url(http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/close-btn.png) no-repeat;
}
.search-bar {
  position: relative;
  width: 350px;
  margin: 30px auto;
  text-align: center;
}
.search-bar img {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 999;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* HERO BANNER SLIDER*/
.hero-slider, #contact-us, .single-container {
  margin-top: 125px;
}
#andoks-hero-slider .carousel-indicators li {
  width: 25px;
  height: 25px;
  background: url("http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/yellow_dots.png") no-repeat;
}
#andoks-hero-slider .carousel-indicators .active {
  width: 25px;
  height: 25px;
  background: url("http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/dots_active.png") no-repeat;
}
#andoks-hero-slider .radial-white {
  position: absolute;
  top: -10%;
}
#andoks-hero-slider .carousel-caption {
  top: 30%;
  left: 10%;
  left: 15%;
  width: 320px;
}
#andoks-hero-slider .carousel-caption h3 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  color: #e1261c;
}
#andoks-hero-slider .carousel-caption p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
  color: #010000;
}
#andoks-hero-slider .carousel-caption .box {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 1em 1em 0;
  line-height: 100px;
  text-align: center;
  color: #fff;
}
#andoks-hero-slider .carousel-caption .box-1 {
  background: radial-gradient(white, white);
}
.hesperiden .tp-bullet.selected {
  background: url(http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/dots_active.png) no-repeat;
}
.hesperiden .tp-bullet:hover {
  background: url(http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/yellow_dots.png) no-repeat;
}
.hesperiden .tp-bullet {
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  border-radius: unset;
  /* background: rgb(153, 153, 153); */
  background: url(http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/yellow_dots.png) no-repeat;
}
/* MEDIA SLIDER*/
.owl-carousel .owl-video-wrapper {
  margin: 0 auto;
}
.owl-carousel .owl-nav [class*=owl-] {
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, .9);
  border-radius: 0;
  border-radius: 50%;
  background: #e1261c;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
  color: #fff;
  background: rgba(0, 0, 0, .9);
}
.owl-carousel .owl-nav [class*=owl-] img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.owl-carousel .owl-prev, .owl-carousel .owl-next {
  position: absolute;
  top: 10px;
  height: 30px;
  margin: auto !important;
}
.owl-carousel .owl-prev {
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-carousel .owl-next {
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-theme .owl-dots .owl-dot.active span {
  background: url("http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/dots_active.png");
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e1261c;
}
.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: url("http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/dots.png") center no-repeat;
  background-repeat: no-repeat;
}
.owl-theme .owl-dots {
  margin-top: 40px;
}
/* FEATURED ITEMS*/
#featured-items {
  overflow: hidden;
}
#featured-items .btn {
  width: 200px;
  -webkit-box-shadow: 0 3px 23.49px 5.51px rgba(0, 0, 0, .15);
  box-shadow: 0 3px 23.49px 5.51px rgba(0, 0, 0, .15);
}
#featured-items h3 {
  margin-bottom: 20px;
  font-family: "Breeze Personal Use";
  font-size: 50px;
  font-weight: 300;
  color: #e1261c;
}
#featured-items p {
  font-size: 20px;
  font-weight: 500;
  color: #010000;
}
#featured-items .featured-content {
  position: relative;
}
#featured-items .left-text {
  position: absolute;
  top: 20%;
  left: 20%;
}
#featured-items .right-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
}
#featured-items .right-img {
  position: relative;
  margin-top: -50px;
}
#featured-items .polaroid {
  position: relative;
  width: 380px;
  height: 396px;
  padding: 15px;
  margin: 10px 126px;
  margin-bottom: -60px;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 14px -3px 62px -16px rgba(0, 0, 0, .75);
  box-shadow: 14px -3px 62px -16px rgba(0, 0, 0, .75);
}
#featured-items .polaroid div {
  background-size: cover;
}
#andoks-footer {
  padding: 20px 20px 30px;
  text-align: center;
}
#andoks-footer .social-media-menu {
  padding: 5px 0;
}
#andoks-footer .social-media-menu ul {
  list-style: none;
}
#andoks-footer .social-media-menu ul li {
  display: inline-block;
  padding: 5px 40px;
}
#andoks-footer .social-media-menu ul li .menu-image-title {
  display: none;
}
#andoks-footer .footer-nav {
  margin-top: 0;
}
#andoks-footer .footer-nav ul {
  list-style: none;
}
#andoks-footer .footer-nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
#andoks-footer .footer-nav ul li a {
  font-size: 16px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
#andoks-footer .footer-nav ul li a:hover {
  color: #f8bf00;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
/* VIDEOS*/
.video-wrapper {
  position: relative;
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.video-wrapper a {
  outline: none;
}
.video-wrapper a > img {
  width: 100%;
  transition: transform 1s;
  transform: scale(1);
  vertical-align: middle;
}
.video-overlay-play-button {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}
.video-wrapper circle, .video-wrapper polygon {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.video-wrapper:hover circle {
  stroke: #ece819;
}
.video-wrapper:hover polygon {
  fill: #ece819;
}
.video-overlay-play-button.is-hidden {
  display: none;
}
.warning-content {
  width: 100%;
  margin: 0;
  text-align: center;
}
.warning-content h1 {
  font-family: "Breeze Personal Use";
  font-size: 50px;
  font-weight: 400;
  color: #e1261c;
}
.scroll-top-wrapper {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 3;
  visibility: hidden;
  width: 50px;
  height: 48px;
  overflow: hidden;
  line-height: 48px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  opacity: 0;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #e1261c;
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
@media (max-width: 767px) {
  .owl-carousel .owl-next {
    right: 0;
  }
  .owl-carousel .owl-prev {
    left: 0;
  }
  .video-wrapper {
    width: 80%;
  }
  .owl-carousel .owl-nav [class*=owl-] {
    width: 50px;
    height: 50px;
  }
  #featured-items {
    padding-top: 60px;
  }
  #featured-items .left-text, #featured-items .right-text {
    position: initial;
    text-align: center;
  }
  #featured-items .left-text .polaroid, #featured-items .right-text .polaroid {
    width: 280px;
    height: 296px;
    margin: 50px auto;
  }
  #featured-items .left-text h3, #featured-items .right-text h3 {
    font-size: 36px;
  }
  #featured-items .left-text p, #featured-items .right-text p {
    margin-bottom: 20px;
  }
  #featured-items .right-text {
    margin-top: 250px;
  }
  #featured-items .right-text .btn {
    position: absolute;
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
  }
  #featured-items .left-text {
    margin-bottom: 50px;
  }
  #featured-items .left-text img {
    width: 500px;
    margin: 10px 0;
  }
  #featured-items {
    padding: 30px 30px 60px;
    background-size: cover !important;
  }
  #menu-footer-menu {
    padding: 0;
  }
  #menu-social-media-menu {
    padding: 0;
  }
  .left {
    width: 40px;
    height: 60px;
    padding-top: 10px;
  }
  .left img {
    margin-left: -6px;
  }
  .left::after {
    left: calc(50% - -16px);
  }
  .chicken-modal .modal-content {
    width: auto;
  }
  .chicken-modal .chicken-logo {
    position: initial !important;
    display: block;
    width: 200px;
    margin-left: 52px;
  }
  .modal-content .modal-header {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .hero-slider, #contact-us, .single-container {
    margin-top: 52px;
  }
  .chicken-modal .chicken-logo {
    position: initial !important;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-left: 52px;
  }
  .modal-content .modal-header {
    padding: 0;
  }
  #mainNav #navbarResponsive .center-logo {
    width: 180px;
    height: 180px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav {
    float: none;
  }
  .nav.navbar-nav {
    float: left;
    width: 100%;
    margin: 0 0 0 -15px;
    clear: both;
  }
  .menu-btn-2 {
    display: block;
  }
  .chicken-modal .modal-content {
    height: auto;
  }
  .center-logo {
    display: none;
  }
  .chicken-modal .modal-content {
    left: 0;
    width: auto;
    padding: 20px 50px;
  }
  .vertical-alignment-helper {
    width: auto;
    margin: 0 auto;
  }
  #contact-us .list-location {
    padding: 100px;
  }
  .search-field {
    position: relative;
    width: 347px;
    margin: 0 auto;
    text-align: center;
  }
  #contact-us .list-location #b-location-list #b-search {
    width: 300px;
  }
  #mainNav .mobile-logo {
    width: 170px;
    height: 165px;
  }
  #mainNav .mobile-logo a {
    bottom: 17px;
  }
  #mainNav .mobile-logo a img {
    width: 140px;
  }
  .scroll-top-wrapper {
    right: 20px;
  }
}
@media (max-width: 1199px) {
  #nav-container-fluid, #featured-items .container {
    display: initial;
    max-width: 97.5% !important;
    /*this gives it the precise width to match the Bootstrap defaults*/
    padding: 0;
  }
  #mainNav .navbar-nav li.nav-item a span {
    font-size: 16px;
  }
  #mainNav .left-nav {
    padding-left: 180px;
  }
  #mainNav #navbarResponsive .center-logo {
    width: 180px;
    height: 180px;
  }
  .center-logo a img {
    position: relative;
    right: 15px;
    width: 180px !important;
  }
  #mainNav.shrink .center-logo a img {
    width: 125px;
  }
}
@media (max-width: 575px) {
  .section {
    padding: 50px 20px 30px;
  }
  #featured-items .left-text img {
    width: 300px;
  }
  #andoks-footer .social-media-menu ul li {
    padding: 10px;
  }
  #andoks-footer .footer-nav ul li {
    display: block;
  }
  .owl-carousel .owl-nav [class*=owl-] {
    width: 40px;
    height: 40px;
  }
  .owl-carousel .owl-prev {
    bottom: -30%;
  }
  .owl-carousel .owl-next {
    bottom: -30%;
  }
  #featured-items .left-text img {
    margin-left: -30px !important;
  }
  #mainNav .mobile-logo {
    width: 150px;
    height: 150px;
  }
  #mainNav .mobile-logo a {
    bottom: 15px;
  }
  #mainNav .mobile-logo a img {
    width: 110px;
  }
  .chicken-modal .modal-content {
    width: 300px;
    padding: 20px;
  }
  #contact-us .list-location {
    padding: 50px 20px;
  }
  .search-field {
    position: relative;
    width: 307px;
    margin: 0 auto;
    text-align: center;
  }
  #contact-us .list-location #b-location-list #b-search {
    width: 260px;
  }
  .video-wrapper {
    width: 100%;
  }
}
