/*product taxonomy*/
#products .product-menu{
  /*background-color: #FFF;*/
  /*padding: 20px 40px 20px 20px;*/
  /*max-width: 225px;*/
  width: 100%;
}

#products .product-menu h3{
  border-bottom: 2px solid #E9E9E9;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  margin: 10px;
}

#products .product-menu ul{
  list-style: none;
  padding-left: 0px;
}

#products .product-menu ul li{
  transition: 1s;
  padding: 10px 0px 10px 0px;
}

#products .product-menu ul li a{
  padding-left: 20px;
  color: #E1261D;
  font-weight: bold;
}

#products .product-menu ul li:hover{
  background-color: #E1261D;
}

#products .product-menu ul li:hover a{
  color: #EDE81A;
}

/*Back button*/
#products .product-back a{
  color: #E1261D;
}

#products .product-back{
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 20px;
}

/*if active*/
#products .product-menu ul .active{
  background-color: #E1261D;
}

#products .product-menu ul .active a{
  color: #EDE81A;
}

#products .product-feature{
  float: left;
  width: 50%;
  padding: 10px;
}

/*Responive*/
@media (max-width: 991px){
  #products .product-menu ul li a{
    padding-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 767px){
  #products .product-menu ul li a{
    font-size: 15px;
  }
  #products .product-feature{
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
}