@font-face {
  font-family: 'Breeze Personal Use';
  src: url(../../fonts/breeze/Breeze-Personal-Use.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  src: url(../../fonts/ubuntu/Ubuntu-Light.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-LightItalic.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  src: url(../../fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  src: url(../../fonts/ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-MediumItalic.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  src: url(../../fonts/ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
  src: url(../../fonts/ubuntu/Ubuntu-BoldItalic.ttf);
}
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
.black {
  font-weight: 900;
}
.breeze {
  font-family: 'Breeze Personal Use';
}
.ubuntu-italic {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}
.ubuntu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.ubuntu-light-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.ubuntu-regular {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.ubuntu-medium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
.ubuntu-medium-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ubuntu-bold {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
.ubuntu-bold-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
}
body#tinymce.wp-editor {
  font-family: 'Ubuntu', sans-serif !important;
}
