body { 	background: #232323 url(images/bg.png) repeat;	margin: 0; text-align:center;	padding: 0;	font-family: Century Gothic;} 
.container{background: url(images/bg-light.png) no-repeat center top;}
header, nav, article, section, aside, footer, address {  display: block;  } 

.wrapper {width: 1000px;	margin: 0 auto;	text-align: center;		padding-top: 10px;	}
		
a{ color: #fff; text-decoration: none;}
a:hover{ color: #fff; text-decoration: underline;}
		
h1 {color: #fff; font-family: Century Gothic; font-size: 80px;	font-weight: lighter;	text-shadow: 2px 2px 0px #000;	margin: 0px 0 0 0; text-align:center;	}
h2 {color: #ffffff;	font-family:  Century Gothic; font-size: 15px;	font-weight: lighter;	text-shadow: 0px 2px 0px #000;	margin: 25px 0 15px 20px;	text-align: left; }
p {color: #fff;	margin: 0;	font-size: 20px; text-shadow: -1px -1px 0 #000;	margin-top:20px;	}
		
.hr {display: block; border: none;	width: 1000px;	height: 2px; background: url(images/divider.png) top center;	margin: 0px auto;	}
.clear {clear: both; }		
.progress {	height: 110px;	margin: 80px 0;	margin-bottom:50px;	background: url(images/progress-container.png) no-repeat;	position: relative;		}
	
.txt-launch-day {	background: url(images/txt-launch-day.png) no-repeat;	width: 112px;	height: 110px;	position: absolute;	top: -80px;	right: -40px;	}
.progress-bar {	height: 43px;	background: #72dbf1 url(images/progress-bar.png) repeat-x;	position: absolute;	top:14px;	left: 0px;	-webkit-border-radius: 10px; -moz-border-radius: 10px;	}
.progress-bar-container { width: 930px;	height: 70px; margin-left: 13px; position: relative;}
.mailing-list h2 {	width: 400px;	float: left;	}
		
.tipsy { margin-bottom: 25px; font-size: 18px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(images/tipsy.png); font-family: Century Gothic; text-transform: uppercase;  }
 .tipsy-inner { padding: 10px 20px; background-color: black; color: white; max-width: 400px; text-align: right; -webkit-box-shadow: 0 20px 15px rgba(0,0,0,0.5); -moz-box-shadow: 0 20px 15px rgba(0,0,0,0.5);   }
.tipsy-inner { -moz-border-radius:5px; -webkit-border-radius:5px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }
.tipsy-container { border: 1px solid green;}