/* Initial Style */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: initial !important;
  background: #fffcf2;
  font-family: 'Heebo', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0;
  line-height: normal;
}
ul {
  margin: 0;
}
a, input {
  text-decoration: none !important;
  outline: none !important;
}
.nopadding {
  padding: 0;
}
/* Initial Style */
/* Default Effects */
.transition {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
/* Default Effects */
/* Center Element Horizontal/Vertical */
.full-center {
  align-items: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
/* Center Element Horizontal/Vertical */
/* No Result */
.no-result {
  padding: 80px 0;
  text-align: center;
}
/* No Result */
/* 5 Column */
.col-xs-5items, .col-sm-5items, .col-md-5items, .col-lg-5items {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 0;
}
.col-xs-5items {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5items {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5items {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5items {
    width: 20%;
    float: left;
  }
}
/* 5 Column */
/* Contact Form 7 Notification Style */
.wpcf7-response-output {
  border: 0 !important;
  color: #fff;
  font-weight: 700;
  margin: 0;
  margin: 10px 0 !important;
  padding: 20px !important;
}
.wpcf7-mail-sent-ok {
  background: #4caf50;
}
.wpcf7-mail-sent-ng {
  background: #f44336;
}
.wpcf7-spam-blocked {
  background: #ff9800;
}
.wpcf7-validation-errors {
  background: #e5d92e;
}
/* Contact Form 7 Notification Style */
/* Archive */
.archive-container {
  padding: 75px 0;
}
.post-item {
  margin-bottom: 65px;
}
.post-item .details h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.post-item .details p {
  line-height: 1.7;
}
.post-item .date {
  border-top: 1px solid #cacaca;
  margin: 20px 0;
  padding-top: 15px;
}
.post-item a {
  background: #eee;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 14px 0;
  width: 130px;
}
.post-item a:hover {
  background: #eee;
}
/* Archive */
/* Single */
.single-container {
  padding: 75px 0;
}
.single-container .title-part {
  margin-bottom: 50px;
}
.single-container .title-part h2 {
  margin-bottom: 10px;
}
/* Single */
/* 404 */
.page-not-found {
  height: 100vh;
  position: relative;
}
.page-not-found .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-not-found h2 {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 10px;
}
.page-not-found p {
  font-size: 1em;
}
.page-not-found a {
  color: #e1261c;
}
/* 404 */
/* Responsive */
@media (max-width: 600px) {
  .archive-container [class*="col-"] {
    width: 100%;
  }
  .archive-container .details {
    height: auto !important;
  }
  .hide-on-small {
    display: none;
  }
}
/* Responsive */
#locator {
  margin-top: 82px;
  height: 100%;
}
#locator #b-map {
  height: 95vh !important;
}
@media (max-width: 991px) {
  #locator #b-map {
    height: 65vh !important;
  }
}
#locator .list-location {
  padding: 0 85px 0 100px;
  padding-top: 18%;
  height: 95vh;
  background-color: #f8bf00;
  align-items: end;
}
@media (max-width: 991px) {
  #locator .list-location {
    height: 30vh;
  }
}
#locator .list-location.location-result-container {
  padding-top: 40px;
}
#locator .list-location .content {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#locator .list-location .content > p {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color: white;
  margin: 8px 0 15px 0;
  font-size: 1.2em;
}
#locator .list-location #b-location-list {
  width: 100%;
}
#locator .list-location #b-location-list .content {
  width: 100%;
  margin: 0;
  padding: 0;
}
#locator .list-location #b-location-list .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  height: 100%;
  width: 60px;
  background-color: #e1261c;
  background-image: url("../../imgs/search-btn.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-right: -15px;
}
#locator .list-location #b-location-list .search .b-preloader {
  z-index: 97;
  border-radius: 26px;
  background-size: 24px;
}
#locator .list-location #b-location-list .search-field .b-preloader {
  height: 0 !important;
  width: 0 !important;
}
#locator .list-location #b-location-list #b-search {
  padding: 10px 20px;
  margin: 0;
  margin-left: -8px;
  font-family: 'Heebo', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #e1261c;
  border-radius: 0;
  background: #fff;
}
@media (max-width: 420px) {
  #locator .list-location #b-location-list #b-search {
    margin: 0;
  }
}
#locator .list-location #b-location-list #b-search::placeholder {
  color: #e1261c;
  font-size: 0.8em;
}
#locator .list-location #b-location-list #b-location {
  padding: 0;
  margin: 0;
  background: transparent;
}
#locator .list-location #b-location-list #b-location ul li {
  display: none;
}
#locator .list-location #b-location-list #b-location ul.searching {
  width: 340px;
  height: 150px;
  padding: 10px;
  margin-top: 3px;
  overflow-y: auto;
  border-radius: 3px;
  background: #fff;
}
#locator .location-result-container .content {
  width: 100%;
}
#locator .location-result-container .content .location-result-search-field {
  position: relative;
  margin-bottom: 40px;
}
#locator .location-result-container .content .location-result-search-field input[name="search-location"] {
  width: 100%;
  padding: 11px 50px 11px 15px;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  border: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
#locator .location-result-container .content .location-result-search-field i {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 1;
  font-size: 25px;
  color: #757575;
}
#locator .location-result-container .content .padd-r-10 {
  padding-right: 10px;
}
#locator .location-result-container .content .location-result-list {
  height: 490px;
}
#locator .location-result-container .content .location-result-list .active-list-item {
  border: 5px solid #ff827b !important;
}
#locator .location-result-container .content .location-result-list .location-result-list-item {
  padding: 20px 25px;
  margin-bottom: 22px;
  cursor: pointer;
  border: 5px solid #fff;
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
#locator .location-result-container .content .location-result-list .location-result-list-item:hover {
  border: 5px solid #ff827b;
}
#locator .location-result-container .content .location-result-list .location-result-list-item h2 {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #d72105;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p {
  position: relative;
  padding-left: 25px;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p:not(:last-child) {
  margin-bottom: 20px;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p:last-child {
  margin-bottom: 0;
}
#locator .location-result-container .content .location-result-list .location-result-list-item p i {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 20px;
  color: #c6c6c6;
}
@media (max-width: 991px) {
  #locator {
    margin-top: 52px;
  }
  #locator .list-location {
    padding: 40px 0 55px;
  }
  #locator .location-result-container {
    padding: 40px;
  }
  #locator .search-field {
    text-align: left !important;
  }
  #locator .search-field #b-search {
    width: 310px !important;
  }
}
@media (max-width: 420px) {
  #locator .list-location #b-location-list .search-btn {
    width: 50px !important;
  }
  #locator .search-field {
    width: 250px !important;
  }
  #locator .search-field #b-search {
    width: 250px !important;
  }
}
.nopadding {
  padding: 0;
}
.no-pad-right {
  padding-right: 0;
}
.no-pad-left {
  padding-left: 0;
}
.show-grid {
  margin-bottom: 15px;
}
.show-grid-3 {
  margin-bottom: 30px;
}
.show-grid-4 {
  margin-bottom: 40px;
}
.show-grid-5 {
  margin-bottom: 50px;
}
/**careers page**/
#careers {
  margin-top: 83px;
}
#careers .col {
  padding: 0;
}
#careers .careers-container {
  width: 70%;
  margin: 0 auto;
}
#careers .careers-container .career-cards .container {
  padding: 0;
  margin: 0 auto;
}
#careers .careers-category-tabs {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}
#careers .careers-category-tabs ul {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}
#careers .careers-category-tabs ul li {
  list-style: none;
  padding: 30px 30px 10px 30px;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9em;
  border-bottom: 5px solid #f8bf00;
}
#careers .careers-category-tabs ul li a {
  color: black;
  text-transform: uppercase;
}
#careers .careers-category-tabs ul .active {
  border-bottom: 5px solid #e1261c;
}
#careers .careers-category-tabs ul .active a {
  color: #e1261c;
}
#careers .careers-category-tabs .recruitment-office-banner {
  display: block;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 100%;
  margin-top: 30px;
}
#careers .careers-category-tabs .recruitment-office-banner .col {
  padding: 0;
}
@media (max-width: 767px) {
  #careers .careers-category-tabs .recruitment-office-banner .col {
    height: 100px;
  }
}
#careers .careers-category-tabs .recruitment-office-banner .rec-left-banner {
  background-color: #f8bf00;
  height: 90px;
  width: 100%;
  position: relative;
  text-align: center;
}
#careers .careers-category-tabs .recruitment-office-banner .rec-left-banner a {
  color: #e1261c;
}
#careers .careers-category-tabs .recruitment-office-banner .rec-left-banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}
#careers .careers-category-tabs .recruitment-office-banner .rec-right-banner {
  background-color: #e1261c;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#careers .careers-category-tabs .recruitment-office-banner .rec-right-banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}
#careers .careers-category-tabs .recruitment-office-banner .rec-right-banner:hover {
  filter: brightness(1.2);
}
#careers .careers-category-tabs .recruitment-office-banner .rec-right a {
  color: white;
  text-transform: uppercase;
}
#careers .career-card {
  margin-bottom: 30px;
}
#careers .career-card .col-sm-1, #careers .career-card .col-sm-11 {
  padding: 0;
}
#careers .career-card .career-tab {
  background-color: #f8bf00;
  height: 100%;
  width: 100%;
  margin-left: 15px;
}
#careers .career-card .career-description:hover {
  background-color: #ff0e01;
}
#careers .career-card .career-description {
  background-color: #e1261c;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  position: relative;
  height: 230px;
  overflow-y: hidden;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media (min-width: 601px) {
  #careers .career-card .career-description {
    margin-right: 15px;
  }
}
#careers .career-card .career-description > div {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#careers .career-card .career-description > div h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}
#careers .career-card .career-description > div p {
  font-size: 1em;
}
#careers .career-card .career-description .office-description h1, #careers .career-card .career-description .office-description h2, #careers .career-card .career-description .office-description h3, #careers .career-card .career-description .office-description h4, #careers .career-card .career-description .office-description h5, #careers .career-card .career-description .office-description h6 {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #f8bf00;
  font-weight: 700;
  margin-bottom: 8px;
}
#careers .career-card .career-description .office-description p {
  margin: 0;
  padding: 0;
}
#careers .career-image-title-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 210px;
  padding-top: 15px;
  border-radius: 5px;
  background: #f8bf00;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .35);
}
#careers .career-image {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border: 6px solid #e1261c;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#careers .career-title {
  padding: 0 10px;
}
#careers .career-title h4 {
  margin-top: 6px;
  font-size: 15px;
  text-transform: uppercase;
  color: #101820;
}
#careers .career-title p {
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #101820;
}
#careers .list-panel {
  margin-top: 15px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#careers .list-title a {
  position: relative;
  display: block;
  padding: 12px 17px;
  font-size: 14px;
  color: #101820;
  background-color: #fff;
}
#careers .list-title a.collapsed:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 15px;
  height: 16px;
  margin: auto 0;
  content: "";
  background-image: url(../../imgs/arrow-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
#careers .list-title a:after {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 15px;
  height: 4px;
  margin: auto 0;
  content: "";
  background-image: url(../../imgs/arrow-minus.png);
  background-repeat: no-repeat;
  background-position: center;
}
#careers .list-description {
  padding: 15px 17px;
  color: #fff;
  background: #e1261c;
}
#careers .list-description p {
  margin: 0;
  line-height: 15px;
  text-align: justify;
}
#careers .no-careers-found h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #e1261c;
  margin: 70px 0 100px 0;
}
#careers .c-padding {
  padding: 0 15px;
}
#careers .ro-container-padding {
  padding: 0 30px;
}
#careers .ro-padding {
  padding: 0 7px;
}
#careers .bg-yellow {
  background: #f8bf00;
}
#careers .bg-white {
  background: #fff;
}
#careers .we-need-you-title {
  margin-left: 20px;
}
#careers .we-need-you-title h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
}
#careers .we-need-you-title p {
  font-size: 16px;
  color: #fff;
}
#careers .ro-main-wrapper {
  padding: 16px 14px 20px 14px;
}
#careers .ro-main-wrapper h4 {
  margin-bottom: 15px;
  font-size: 13px;
  color: #101820;
}
#careers .ro-main-wrapper p {
  margin-bottom: 0;
  font: 12px 'Heebo', sans-serif;
  line-height: 15px;
  text-align: justify;
  color: #101820;
}
#careers .onsite-recruitment-title {
  margin: 35px 0 15px 20px;
}
#careers .onsite-recruitment-title p {
  font-size: 16px;
  color: #fff;
}
#careers .recruitment-link {
  margin-top: 15px;
}
#careers .recruitment-link p {
  font-size: 16px;
  color: #fff;
}
#careers .recruitment-link p > a {
  text-decoration: underline !important;
  color: #fff;
}
#careers .recruitment-link p > a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #e1261c;
}
#career-inner {
  font-family: 'Heebo', sans-serif;
  color: #212529;
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
}
#career-inner .col {
  padding: 0 !important;
  margin: 0;
}
#career-inner h1 {
  font-size: 2em;
}
#career-inner .career-icon {
  text-align: center;
  width: 30px;
  display: inline-block;
}
#career-inner .career-inner-details {
  margin: 30px 0;
}
#career-inner .career-inner-details .description {
  margin-top: 30px;
}
#career-inner .recruitment-office-banner {
  display: block;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
#career-inner .recruitment-office-banner .col {
  padding: 0;
}
#career-inner .recruitment-office-banner .rec-left-banner {
  background-color: #f8bf00;
  height: 60px;
  width: 100%;
  position: relative;
  text-align: center;
}
#career-inner .recruitment-office-banner .rec-left-banner a {
  color: #e1261c;
}
#career-inner .recruitment-office-banner .rec-left-banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#career-inner .recruitment-office-banner .rec-right-banner {
  background-color: #e1261c;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}
#career-inner .recruitment-office-banner .rec-right-banner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#career-inner .recruitment-office-banner .rec-right a {
  color: white;
  text-transform: uppercase;
}
/**careers page**/
/**contact us page**/
#contact_us .container {
  margin: 0;
  padding: 0 !important;
  z-index: 1000;
  width: 100% !important;
  max-width: 100% !important;
}
#contact_us .row {
  width: 100% !important;
  margin: 0 !important;
}
#contact_us .col {
  padding: 0 !important;
  margin: 0 !important;
}
@media (max-width: 991px) {
  #contact_us .map-container {
    height: 500px !important;
    flex: none !important;
  }
}
#contact_us .contact-us-right {
  background-color: #fffcf2;
  padding: 150px 80px 150px 80px;
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  #contact_us .contact-us-right {
    padding: 25px;
  }
  #contact_us .contact-us-right .inquiry-form {
    padding: 0 15px;
  }
}
#contact_us .contact-us-title h2 {
  margin-bottom: 25px;
  font-size: 40px;
  color: #101820;
}
#contact_us .location-details {
  margin-bottom: 35px;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
}
#contact_us .location-details h3 {
  color: #e1261c;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-weight: bold;
  padding-top: 2px;
}
#contact_us .location-details p {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
#contact_us .contact-details {
  margin-bottom: 17px;
}
#contact_us .contact-details span {
  position: relative;
  float: left;
}
#contact_us .contact-details p {
  position: relative;
  top: 2px;
  margin-bottom: 0;
  margin-left: 43px;
  font-size: 16px;
  text-align: justify;
  color: #101820;
}
#contact_us .contact-details:last-of-type {
  text-decoration: underline;
}
#contact_us .contact-us-map {
  width: 100%;
  height: 100%;
}
#contact_us #map-area {
  width: 100%;
  height: 100%;
}
#contact_us .inquiry-title h2 {
  margin-bottom: 25px;
  font-size: 40px;
  color: #101820;
}
#contact_us .form-group {
  margin-bottom: 20px;
}
#contact_us .form-group h4 {
  margin-bottom: 13px;
  font-size: 17px;
  color: #101820;
}
#contact_us .form-group textarea.messageheight {
  height: 200px;
}
#contact_us .form-control {
  height: 35px;
  font: 16px 'Heebo', sans-serif;
  border: 0;
  border-radius: 0;
  background: #f8bf00;
}
#contact_us .form-control::placeholder {
  color: #e1261c;
  font-family: 'Heebo', sans-serif;
}
#contact_us input[type="submit"] {
  float: right;
  font: 20px 'Heebo', sans-serif;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: #e1261c;
}
#contact_us input[type="submit"]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#contact_us input[type="submit"]:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #e1261c;
  background: #f8bf00;
}
#contact_us div.wpcf7 .ajax-loader {
  float: left;
  margin: 3px 0 0 -13px;
}
/**contact us page**/
/**promos page**/
#promos {
  padding: 70px 0 40px;
  margin-top: 125px;
}
#promos .pro-padding {
  padding: 0 7.5px;
}
#promos .promos-title h2 {
  margin: 0 0 25px 33px;
  font-size: 40px;
  color: #101820;
}
#promos .main-promo-image {
  position: relative;
  width: 100%;
  height: 257px;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#promos .main-promo-wrapper {
  height: 257px;
  padding: 40px 22px;
  background: #fff;
}
#promos .main-promo-wrapper .main-promo-title h4 {
  margin-bottom: 7px;
  font-size: 20px;
  color: #101820;
}
#promos .main-promo-wrapper .main-promo-excerpt p {
  margin-bottom: 0;
  font: 13px 'Heebo', sans-serif;
  line-height: 15px;
  text-align: justify;
  color: #101820;
}
#promos .main-promo-wrapper .main-promo-rm-btn {
  margin-top: 8px;
}
#promos .main-promo-wrapper .main-promo-rm-btn a {
  display: inline-block;
  font-size: 13px;
  color: #101820;
}
#promos .promo-image {
  position: relative;
  width: 371px;
  height: 257px;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/**promos page**/
/**about us page**/
.hero {
  margin-top: 82px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}
.hero img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  filter: brightness(0.5);
}
.hero h2 {
  color: #f8bf00;
  font-size: 3.2em;
  font-weight: 700;
}
.hero p {
  color: white;
}
.hero .text-overlay {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about_us .__show_grid_70 {
  margin-bottom: 70px;
}
#about_us .about-us-bg {
  padding: 30px 0 0 0;
  background-color: #fffcf2;
}
#about_us .about-us-bg .andoks-title h2 {
  font-size: 84px;
  text-align: center;
  color: #e1261c;
  text-shadow: 3px 3px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
#about_us .about-us-bg .andoks-title h2 span {
  position: relative;
  right: -4px;
  text-shadow: 3px 4px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
#about_us .about-us-bg .andoks-title img {
  max-width: 52%;
  margin: 30px 0 5px;
}
#about_us .about-us-bg .gallery_description p {
  line-height: 1.5em;
  font-family: 'Heebo', sans-serif, sans-serif;
  font-size: 1em;
  padding: 0;
  padding-left: 5px;
}
#about_us .about-us-bg .gallery_header h2 {
  color: #e1261c;
  font-family: 'Roboto', sans-serif, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
#about_us .about-us-bg .gallery_header i {
  color: #e1261c;
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  padding-left: 5px;
  margin: 0;
}
#about_us .about-us-bg .gallery_header h3 {
  font-size: 1.2em;
  padding-bottom: 5px;
  padding-left: 5px;
}
#about_us .about-us-bg .gallery_header h2 {
  font-size: 2em;
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-left: 5px;
}
#about_us .about-us-bg .gallery_desc_left p {
  padding-right: 40px;
}
#about_us .about-us-bg .gallery_desc_right p {
  padding-left: 40px;
}
#about_us .about-us-bg .gallery_header_left i, #about_us .about-us-bg .gallery_header_left h3, #about_us .about-us-bg .gallery_header_left h2 {
  padding-right: 40px;
}
#about_us .about-us-bg .gallery_header_right i, #about_us .about-us-bg .gallery_header_right h3, #about_us .about-us-bg .gallery_header_right h2 {
  padding-left: 40px;
}
#about_us .about-us-bg .gallery_image {
  height: 100%;
}
#about_us .mvc {
  background: #f8bf00;
  padding: 100px 50px;
}
#about_us .mvc .container {
  width: 80%;
  margin: 0 auto;
}
#about_us .mvc .tab-wrapper {
  font-family: 'Heebo', sans-serif;
}
#about_us .mvc .tab-wrapper h4 {
  padding: 15px 0;
  text-transform: uppercase;
  color: #e1261c;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#about_us .mvc .tab-wrapper p {
  padding: 0;
  margin: 0;
  padding-left: 1px;
}
#about_us .mvc .tab-wrapper img {
  height: 20px;
}
/**about us page**/
/**products page**/
.products {
  margin-top: 82px;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
}
.products img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  filter: brightness(0.5);
}
.products h2 {
  color: #f8bf00;
  font-size: 2em;
  font-weight: 700;
}
.products p {
  color: white;
}
.products .text-overlay {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products .text-overlay .btn {
  margin-left: 20px;
}
.products .btn-container {
  text-align: right;
}
.product-list a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.product-list a .product-text {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.product-list a .product-text h2 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.product-list a:hover {
  filter: saturate(120%);
}
.product-list a:hover .product-text {
  background-color: #e1261c;
}
.product-list a:hover .product-text h2 {
  color: #f8bf00;
}
.products-wrapper {
  padding: 20px 0;
  font-family: 'Heebo', sans-serif;
}
.products-wrapper .container {
  margin: 0 auto;
  padding: 0;
}
.products-wrapper img {
  width: 100%;
}
.products-wrapper a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.products-wrapper a .product-text {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.products-wrapper a .product-text h2 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.products-wrapper a:hover {
  filter: saturate(120%);
}
.products-wrapper a:hover .product-text {
  background-color: #e1261c;
}
.products-wrapper a:hover .product-text h2 {
  color: #f8bf00;
}
.product-container {
  padding: 20px 3px;
}
.product-container img {
  width: 100%;
}
.product-container .product-text {
  background-color: #f8bf00;
  padding: 20px 15px;
}
.product-container .product-text h2 {
  font-size: 1.2em;
  color: #e1261c;
  text-transform: uppercase;
  line-height: 0;
  padding: 0;
  margin: 0;
}
.product-container .product-text p {
  font-size: 1.14em;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: right;
}
.product-category-page .menu-cat {
  margin-top: 82px;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}
.product-category-page .menu-cat img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  filter: brightness(0.5);
}
.product-category-page .menu-cat h2 {
  color: #f8bf00;
  font-size: 3.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.product-category-page .menu-cat a {
  background-color: #e1261c;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
}
.product-category-page .menu-cat .btn-container {
  text-align: right;
  vertical-align: bottom;
  padding-top: 20px;
}
.product-category-page .menu-cat p {
  color: white;
}
.product-category-page .menu-cat .text-overlay {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-category-page .product-nav {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.product-category-page .product-nav ul {
  justify-content: center;
  display: flex;
}
.product-category-page .product-nav ul li {
  list-style: none;
  padding: 30px 25px 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9em;
  border-bottom: 5px solid #f8bf00;
}
.product-category-page .product-nav ul li a {
  color: black;
  text-transform: uppercase;
}
.product-category-page .product-nav ul .active {
  border-bottom: 5px solid #e1261c;
}
.product-category-page .product-nav ul .active a {
  color: #e1261c;
}
.product-category-page .product-feature {
  margin: 50px;
}
.product-inner .product-inner-text {
  padding: 20px;
}
.product-inner .product-inner-text h2 {
  color: #e1261c;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}
.product-inner .product-inner-text p {
  font-family: 'Heebo', sans-serif;
  margin-bottom: 30px;
}
.product-inner .product-inner-text .btn {
  font-size: 1em;
}
.product-inner .product-inner-text .dashicons-arrow-right-alt2 {
  font-size: 0.9em;
  color: #e1261c;
  line-height: 0;
  vertical-align: baseline;
}
.product-inner .product-inner-text .andoks-breadcrumb {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.product-inner .product-inner-text .andoks-breadcrumb a {
  color: #212529;
}
.product-inner .product-inner-image {
  padding: 20px;
}
.product-inner .product-inner-image img {
  width: 100%;
}
.pagination-container {
  text-align: center;
  padding: 20px 0;
}
.pagination-container a, .pagination-container span {
  color: #e1261c;
  padding: 10px 8px;
  margin: 0;
}
.pagination-container span {
  color: #f8bf00;
}
.pagination-container .prev, .pagination-container .next {
  font-size: 1.2em;
}
/***custom-media***/
@media (min-width: 992px) and (max-width: 1200px) {
  /**careers**/
  /**contact us**/
  #careers .careers-category-tabs ul li {
    margin: 0 5px;
  }
  #contact_us {
    background-size: 100% 910px !important;
  }
  #contact_us input[type="submit"] {
    width: 130px;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  /**promos**/
  /**promos**/
  /**about us**/
  /**about us**/
  /***modal store locator form***/
  /***modal store locator form***/
  .btn {
    font-size: 0.9em !important;
  }
  .hero {
    margin-top: 50px;
  }
  .careers-category-tabs ul {
    text-align: center;
    display: block !important;
  }
  .careers-category-tabs ul li {
    padding: 30px 30px 10px 30px;
  }
  #careers {
    margin-top: 52px;
  }
  #careers .careers-category-tabs ul li {
    display: block;
    margin: 5px 0;
  }
  #careers .list-description p {
    text-align: left;
  }
  .product-nav {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .product-nav ul {
    padding: 0 !important;
    text-align: center;
  }
  .product-nav ul li {
    padding: 10px;
  }
  #contact_us {
    margin-top: 52px;
    background-size: 100% 1500px !important;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 6px;
  }
  #contact_us .inquiry-title h2 {
    margin-top: 40px;
  }
  #promos {
    margin-top: 52px;
  }
  #promos .main-promo-wrapper {
    padding: 15px 10px;
  }
  #promos .main-promo-wrapper .main-promo-title h4 {
    font-size: 16px;
  }
  #promos .main-promo-wrapper .main-promo-excerpt p {
    font: 11.5px "Heebo", sans-serif;
  }
  .products .btn-container {
    text-align: left !important;
  }
  .product-category-page .menu-cat .btn-container {
    padding-top: 20px;
  }
  .product-category-page .menu-cat .text-overlay {
    width: 80%;
  }
  #about_us {
    margin-top: 52px;
  }
  #about_us .about-us-bg .andoks-title h2 {
    margin-bottom: 20px;
  }
  #about_us .about-us-bg .gallery-container {
    width: 90%;
    margin: 0 auto;
  }
  #about_us .about-us-bg .gallery_desc_left p {
    padding: 0;
    padding-left: 5px;
  }
  #about_us .about-us-bg .gallery_desc_right p {
    padding: 0;
    padding-left: 5px;
  }
  #about_us .about-us-bg .gallery_header_left h2, #about_us .about-us-bg .gallery_header_left i, #about_us .about-us-bg .gallery_header_left h3 {
    padding: 0;
  }
  #about_us .about-us-bg .gallery_header_right h2, #about_us .about-us-bg .gallery_header_right i, #about_us .about-us-bg .gallery_header_right h3 {
    padding: 0;
  }
  .chicken-modal .chicken-logo {
    margin-left: 120px !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  /**promos**/
  /**promos**/
  /**about us**/
  /**about us**/
  /***modal store locator form***/
  /***modal store locator form***/
  .btn {
    font-size: 0.9em !important;
  }
  .hero {
    margin-top: 50px;
  }
  .hero h2 {
    font-size: 1.8em;
  }
  .careers-category-tabs ul {
    text-align: center;
    display: block !important;
  }
  .careers-category-tabs ul li {
    padding: 30px 30px 10px 30px;
  }
  .products {
    margin-top: 50px;
  }
  .products h2 {
    font-size: 1.3em;
  }
  .products .btn-container {
    text-align: left !important;
  }
  .product-nav {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .product-nav ul {
    display: block !important;
    padding: 0 !important;
    text-align: center;
  }
  .product-nav ul li {
    padding: 10px;
  }
  .product-category-page .menu-cat h2 {
    text-align: center;
  }
  .product-category-page .menu-cat .btn-container {
    text-align: center;
  }
  #careers {
    margin-top: 52px;
    background-size: 100% 1500px !important;
  }
  #careers .c-pad-right {
    padding-right: 15px;
  }
  #careers .c-pad-left {
    padding-left: 15px;
  }
  #careers .career-image-title-wrapper {
    width: 175px;
    margin: 0 auto;
  }
  #careers .careers-category-tabs ul li {
    display: block;
    margin: 5px 0;
  }
  #careers .list-description p {
    text-align: left;
  }
  .career-description {
    height: 350px !important;
  }
  #contact_us {
    margin-top: 52px;
    background-size: 100% 1800px !important;
  }
  #contact_us input[type="submit"] {
    float: left;
    margin-top: 5px;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 6px;
  }
  #contact_us .inquiry-title h2 {
    margin-top: 40px;
  }
  #promos {
    margin-top: 52px;
  }
  #promos .pad-right {
    padding-right: 15px;
  }
  #promos .pad-left {
    padding-left: 15px;
  }
  #promos .main-promo-image {
    width: 371px;
  }
  #promos .main-promo-wrapper {
    width: 371px;
    height: 220px;
    margin: 0 auto;
  }
  #promos .main-promo-wrapper .main-promo-title h4 {
    font-size: 16px;
  }
  #promos .main-promo-wrapper .main-promo-excerpt p {
    font: 11.5px "Heebo", sans-serif;
  }
  #about_us {
    margin-top: 52px;
  }
  #about_us .about-us-bg .andoks-title h2 {
    margin-bottom: 20px;
  }
  #about_us .tab-wrapper {
    margin-bottom: 30px;
  }
  #about_us .about-us-bg .gallery_header_right p {
    padding-left: 0;
  }
  #about_us .about-us-bg .gallery-container {
    width: 90%;
    margin: 0 auto;
  }
  #about_us .about-us-bg .gallery_desc_left p {
    padding: 0;
    padding-left: 5px;
  }
  #about_us .about-us-bg .gallery_desc_right p {
    padding: 0;
    padding-left: 5px;
  }
  #about_us .about-us-bg .gallery_header_left h2, #about_us .about-us-bg .gallery_header_left i, #about_us .about-us-bg .gallery_header_left h3 {
    padding: 0;
  }
  #about_us .about-us-bg .gallery_header_right h2, #about_us .about-us-bg .gallery_header_right i, #about_us .about-us-bg .gallery_header_right h3 {
    padding: 0;
  }
  .chicken-modal .chicken-logo {
    margin-left: 120px !important;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  /**careers**/
  /**careers**/
  /**contact us**/
  /**contact us**/
  /**promos**/
  /**promos**/
  /**about us**/
  /**about us**/
  /***modal store locator form***/
  /***modal store locator form***/
  .btn {
    font-size: 0.9em !important;
  }
  .hero {
    margin-top: 50px;
  }
  .hero h2 {
    font-size: 1.8em;
  }
  .careers-category-tabs ul {
    text-align: center;
    display: block !important;
  }
  .careers-category-tabs ul li {
    padding: 10px;
  }
  .career-description {
    height: 350px !important;
  }
  .products {
    margin-top: 50px;
  }
  .products h2 {
    font-size: 1.3em;
  }
  .products p {
    font-size: 1em;
    line-height: 1em;
  }
  .products .text-overlay {
    width: 85%;
  }
  .products .btn-container {
    text-align: left !important;
  }
  .product-nav {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .product-nav ul {
    display: block !important;
    padding: 0 !important;
    text-align: center;
  }
  .product-nav ul li {
    padding: 10px;
  }
  #careers {
    margin-top: 52px;
    background-size: 100% 1500px !important;
  }
  #careers .c-pad-right {
    padding-right: 15px;
  }
  #careers .c-pad-left {
    padding-left: 15px;
  }
  #careers .career-image-title-wrapper {
    width: 175px;
    margin: 0 auto;
  }
  #careers .careers-category-tabs ul li {
    display: block;
    margin: 5px 0;
  }
  #careers .list-description p {
    text-align: left;
  }
  #contact_us {
    margin-top: 52px;
    background-size: 100% 1800px !important;
  }
  #contact_us input[type="submit"] {
    float: left;
    margin-top: 5px;
  }
  #contact_us div.wpcf7 .ajax-loader {
    margin: 3px 0 0 6px;
  }
  #contact_us .inquiry-title h2 {
    margin-top: 40px;
  }
  #contact_us #map-area {
    width: 100%;
  }
  #promos {
    margin-top: 52px;
  }
  #promos .pro-padding {
    padding: 0 15px;
  }
  #promos .pad-right {
    padding-right: 15px;
  }
  #promos .pad-left {
    padding-left: 15px;
  }
  #promos .main-promo-image {
    width: 371px;
  }
  #promos .main-promo-wrapper {
    width: 371px;
    height: 220px;
    max-width: 100%;
    margin: 0 auto;
  }
  #promos .main-promo-wrapper .main-promo-title h4 {
    font-size: 16px;
  }
  #promos .main-promo-wrapper .main-promo-excerpt p {
    font: 11.5px "Heebo", sans-serif;
  }
  #about_us {
    margin-top: 52px;
  }
  #about_us .about-us-bg .andoks-title h2 {
    margin-bottom: 20px;
  }
  #about_us .about-us-bg .gallery-container {
    width: 90%;
    margin: 0 auto;
  }
  #about_us .about-us-bg .gallery_desc_left p {
    padding: 0;
    padding-left: 5px;
  }
  #about_us .about-us-bg .gallery_desc_right p {
    padding: 0;
    padding-left: 5px;
  }
  #about_us .about-us-bg .gallery_header_left h2, #about_us .about-us-bg .gallery_header_left i, #about_us .about-us-bg .gallery_header_left h3 {
    padding: 0;
  }
  #about_us .about-us-bg .gallery_header_right h2, #about_us .about-us-bg .gallery_header_right i, #about_us .about-us-bg .gallery_header_right h3 {
    padding: 0;
  }
  #about_us .mvc {
    padding: 30px 0;
  }
  #about_us .mvc .tab-wrapper {
    margin: 20px 0;
    height: auto !important;
  }
  .search-bar {
    width: 100% !important;
  }
}
/***small devices***/
@media (max-width: 414px) {
  #contact_us .location-details p {
    font-size: 14px;
  }
  #contact_us .contact-details p {
    font-size: 14px;
  }
  #contact_us .g-recaptcha {
    transform: scale(0.93, 0.95);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@media (max-width: 767px) {
  .product-category-page .menu-cat h2 {
    text-align: center;
  }
  .product-category-page .menu-cat .btn-container {
    text-align: center;
  }
}
#mainNav {
  z-index: 999;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #fffcf2;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .container {
  padding: 0;
}
#mainNav .navbar-brand {
  font-size: 1.1rem;
  color: white;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #e1261c;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;
}
#mainNav .navbar-nav li.nav-item.current-menu-item a > span, #mainNav .navbar-nav li.menu-item.current-menu-item a > span {
  color: #e1261c;
  outline: none;
}
#mainNav .navbar-nav li.nav-item a span, #mainNav .navbar-nav li.menu-item a span {
  padding: 0;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: 1px;
  color: #333;
  border-bottom: 2px solid transparent;
}
#mainNav .navbar-nav li.nav-item a span:hover, #mainNav .navbar-nav li.menu-item a span:hover {
  color: #e1261c;
  outline: none;
}
#mainNav .navbar-nav li.nav-item a span:active, #mainNav .navbar-nav li.menu-item a span:active, #mainNav .navbar-nav li.nav-item a span:focus, #mainNav .navbar-nav li.menu-item a span:focus {
  color: #e1261c;
}
#mainNav .nav-left {
  text-align: left;
}
#mainNav .nav-center {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#mainNav .nav-right {
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}
#mainNav .navbar-toggler {
  padding: 11px;
  font-size: 14px;
  text-transform: uppercase;
  color: #e1261c;
  border-color: #e1261c;
}
#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: white;
  border-color: #e1261c;
  background-color: #e1261c;
}
#mainNav .mobile-logo {
  position: absolute;
  top: -62px;
  left: 50%;
  display: block;
  width: 180px;
  height: 180px;
  padding: 0;
  transform: translate(-50%);
  border-radius: 50%;
}
#mainNav .mobile-logo a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
}
#mainNav .mobile-logo a img {
  width: 140px;
}
#mainNav.shrink {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
}
@media (min-width: 1200px) {
  #mainNav .navbar-nav > li.nav-item, #mainNav .navbar-nav > li.menu-item {
    padding: 4px 20px;
  }
}
@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .mobile-logo {
    display: none;
  }
  #mainNav #navbarResponsive .brand-logo {
    position: absolute;
    left: 0;
    width: auto;
    height: 220px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav #navbarResponsive .brand-logo a {
    position: absolute;
    top: -90px;
    transition: all 0.3s;
  }
  #mainNav #navbarResponsive .brand-logo a img {
    width: 150px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav > li.nav-item, #mainNav .navbar-nav > li.menu-item {
    padding: 4px 20px;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active .navbar-nav > li.menu-item > a.nav-link.active {
    color: white;
    border-radius: 3px;
    background: #101820;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active .navbar-nav > li.menu-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active .navbar-nav > li.menu-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active .navbar-nav > li.menu-item > a.nav-link.active:hover {
    color: white;
    background: #101820;
  }
  #mainNav .navbar-collapse {
    height: 67px;
  }
  #mainNav.shrink {
    padding: 0;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
  }
  #mainNav.shrink #navbarResponsive {
    position: relative;
  }
  #mainNav.shrink #navbarResponsive .center-logo {
    position: absolute;
    left: 50%;
    width: 195px;
    height: 220px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: translate(-50%);
  }
  #mainNav.shrink #navbarResponsive .center-logo a {
    position: absolute;
    bottom: 17px;
    left: 50%;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
  #mainNav.shrink #navbarResponsive .center-logo a img {
    width: 195px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
#menu-2 .main-menu-wrapper #menu-main-menu {
  display: block;
  padding: 0;
  margin-top: 30px;
  list-style: none;
  text-align: center;
}
#menu-2 .main-menu-wrapper #menu-main-menu li {
  position: relative;
  padding: 10px 0;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 3px;
  height: 100%;
  content: "";
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
  background-color: #e1261c;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:hover:before, .sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}
#menu-2 .main-menu-wrapper #menu-main-menu li:hover a {
  color: #f8bf00;
}
#menu-2 .main-menu-wrapper #menu-main-menu li a, #menu-2 .login-sign-up a {
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  text-transform: uppercase;
  color: #e1261c;
}
body {
  background: #fffcf2;
}
#offside-container {
  background: #fffcf2;
}
.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0 !important;
  /* height of your footer */
}
.yellow-border {
  height: 115px;
  width: 100%;
  background: #f8bf00;
  position: absolute;
  top: 0;
  z-index: 0;
}
footer {
  position: relative;
  width: 100%;
}
/* General*/
.btn {
  padding: 10px 20px;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-transform: uppercase;
  border-radius: 0;
}
.btn.active, .btn:active, .btn:focus, .btn:hover {
  color: white;
  filter: brightness(1.2);
}
.btn-red {
  color: white;
  background: #e1261c;
}
.btn-yellow {
  color: white;
  background: #f8bf00;
}
.semi-rounded {
  border-radius: 8px;
}
.primary-bg {
  position: relative;
}
.left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;
  width: 60px;
  height: 80px;
  padding-top: 18px;
  margin: auto;
  border: none;
  -webkit-box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
}
.left::after {
  position: absolute;
  top: 20%;
  left: calc(50% - -30px);
  width: 16px;
  height: 24px;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ece819;
  -webkit-box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 9.5px 0.5px rgba(0, 0, 0, .3);
  -webkit-clip-path: polygon(0 0, 99% 47%, 0% 100%);
  clip-path: polygon(0 0, 99% 47%, 0% 100%);
}
.left.active, .left:active, .left:focus, .left:hover {
  background-color: #f8bf00;
}
.left.active::after, .left:active::after, .left:focus::after, .left:hover::after {
  background-color: #f8bf00;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type=text], textarea {
  position: relative;
  z-index: 99;
  font-size: 1.5em;
  resize: none;
  border: 1px solid #f7c202;
  border-radius: 8px;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.section {
  padding: 50px 20px 40px;
}
.offside {
  width: 300px;
  padding: 20px 0;
  background-color: #fffcf2;
}
/* Offside buttons */
.offside-button {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto 10px auto;
  cursor: pointer;
  text-align: center;
  color: #000;
  background: #ffe200;
}
.offside-button:hover {
  background: #ffd900;
}
.site-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: visibility 0s ease, opacity 0.2s ease;
  -moz-transition: visibility 0s ease, opacity 0.2s ease;
  -o-transition: visibility 0s ease, opacity 0.2s ease;
  transition: visibility 0s ease, opacity 0.2s ease;
  opacity: 0;
  background-color: #fff;
}
/* Abstract icon class*/
.icon {
  position: relative;
  display: block;
  padding: 10px 0;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: none;
}
.icon .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #e1261c;
}
.icon:hover .icon-bar {
  background-color: #bf2219;
}
.icon:focus {
  outline: 0;
}
/* Hamburger button */
.icon--hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}
/* Close button */
.icon--cross {
  padding: 20px;
}
.icon--cross > .icon-bar + .icon-bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon--cross > .icon-bar {
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Helpers */
.h--left {
  float: left;
}
.h--right {
  float: right;
}
/* Demo specific: typical */
/* Just few cosmetic CSS for overlay fade in/out */
.offside-js--is-open .site-overlay {
  visibility: visible;
  -webkit-transition-delay: delay 0s;
  -o-transition-delay: delay 0s;
  transition-delay: delay 0s;
  opacity: 0.7;
}
.menu-btn-2 {
  display: none;
}
/* Chicken Modal*/
.chicken-modal .modal-dialog {
  position: relative;
}
.chicken-modal .modal-dialog .modal-content .modal-body {
  overflow: hidden !important;
}
.chicken-modal .modal-dialog .chicken-logo {
  position: absolute;
  top: -37%;
  left: -170px;
  z-index: 9;
}
.vertical-alignment-helper {
  display: table;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  pointer-events: none;
  /* This makes sure that we can still click outside of the modal to close it */
}
.chicken-modal .modal-content {
  width: 700px;
  height: auto;
  padding: 20px 90px 20px 110px;
  overflow: unset !important;
  text-align: center;
  background: #ece819;
}
.chicken-modal .chicken-logo, .center-logo {
  display: block;
}
.chicken-modal .modal-body {
  overflow: hidden;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
.modal-content .modal-header {
  padding: 20px 0 0;
  border: none;
}
.modal-content .modal-header h2 {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #e1261c;
}
.modal-content .modal-body {
  padding-top: 0;
}
.modal-content button.close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 99;
  width: 30px;
  width: 32px;
  height: 30px;
  height: 32px;
  padding: 0;
  padding-bottom: 7px;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  border-radius: 50%;
  outline: none;
  background: url(http://andoks.com.ph/wp-content/themes/andoks-v1.0.0/assets/imgs/close-btn.png) no-repeat;
}
.search-bar {
  position: relative;
  width: 350px;
  margin: 30px auto;
  text-align: center;
}
.search-bar img {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 999;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* HERO BANNER SLIDER*/
.hero-slider, #contact-us {
  margin-top: 83px;
}
.single-container {
  margin-top: 120px;
}
#andoks-hero-slider .carousel-indicators li {
  width: 25px;
  height: 25px;
  background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/yellow_dots.png") no-repeat;
}
#andoks-hero-slider .carousel-indicators .active {
  width: 25px;
  height: 25px;
  background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots_active.png") no-repeat;
}
#andoks-hero-slider .radial-white {
  position: absolute;
  top: -10%;
}
#andoks-hero-slider .carousel-caption {
  top: 30%;
  left: 10%;
  left: 15%;
  width: 320px;
}
#andoks-hero-slider .carousel-caption h3 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  color: #e1261c;
}
#andoks-hero-slider .carousel-caption p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
  color: #010000;
}
#andoks-hero-slider .carousel-caption .box {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 1em 1em 0;
  line-height: 100px;
  text-align: center;
  color: #fff;
}
#andoks-hero-slider .carousel-caption .box-1 {
  background: radial-gradient(white, white);
}
.hesperiden .tp-bullet.selected {
  background: url(http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots_active.png) no-repeat;
}
.hesperiden .tp-bullet:hover {
  background: url(http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/yellow_dots.png) no-repeat;
}
.hesperiden .tp-bullet {
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  border-radius: unset;
  background: url(http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/yellow_dots.png) no-repeat;
}
/* MEDIA SLIDER*/
.owl-carousel .owl-video-wrapper {
  margin: 0 auto;
}
.owl-carousel .owl-nav [class*=owl-] {
  display: none !important;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, .9);
  border-radius: 0;
  border-radius: 50%;
  background: #e1261c;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
  display: none !important;
  color: #fff;
  background: rgba(0, 0, 0, .9);
}
.owl-carousel .owl-nav [class*=owl-] img {
  display: none !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.owl-carousel .owl-prev, .owl-carousel .owl-next {
  display: none !important;
  position: absolute;
  top: 10px;
  height: 30px;
  margin: auto !important;
}
.owl-carousel .owl-prev {
  display: none !important;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-carousel .owl-next {
  display: none !important;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-theme .owl-dots .owl-dot.active span {
  display: none !important;
  background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots_active.png");
}
.owl-theme .owl-dots .owl-dot:hover span {
  display: none !important;
  background: #e1261c;
}
.owl-theme .owl-dots .owl-dot span {
  display: none !important;
  width: 20px;
  height: 20px;
  background: url("http://staging.andoks.com.ph/wp-content/themes/andoks-v2.0.0/assets/imgs/dots.png") center no-repeat;
  background-repeat: no-repeat;
}
.owl-theme .owl-dots {
  display: none !important;
  margin-top: 40px;
}
/* FEATURED PRODUCTS */
.featured-products {
  background: #f8bf00;
  padding: 60px 40px;
  text-align: center;
}
.featured-products .featured-product-container .featured-product {
  width: 100%;
}
.featured-products .featured-product-container .featured-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.featured-products .featured-product-container .featured-product img:hover {
  filter: saturate(140%);
}
.featured-products .featured-product-container .featured-product-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #e1261c;
  margin: 15px;
  display: block;
}
.featured-products .btn-container {
  margin-top: 20px;
}
.store-locator {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
}
.store-locator .container {
  background: #e1261c;
  padding: 80px 100px 70px 100px;
  margin: 40px auto;
}
.store-locator h2 {
  font-weight: 700;
  color: #f8bf00;
  font-size: 1.8em;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
.store-locator p {
  font-size: 1em;
  color: white;
}
.store-locator .btn-right {
  text-align: right;
}
.store-locator .btn {
  margin-top: 20px;
}
.home-about {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
}
.home-about img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.5);
}
.home-about h2 {
  color: #f8bf00;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.home-about p {
  color: white;
}
.home-about .text-overlay {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-locator {
  display: none !important;
}
#mainNav .nav-right .navbar-nav li.menu-item a span {
  padding-left: 10px;
}
#mainNav .nav-right li.menu-item:last-child a span:hover {
  color: #e1261c;
}
#andoks-footer {
  padding: 40px 30px 20px 30px;
  background-color: #e1261c;
  width: 100%;
  overflow: hidden;
  color: white;
}
#andoks-footer .container, #andoks-footer .row, #andoks-footer .col, #andoks-footer ul {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  max-width: 100% !important;
  padding-inline-start: 0 !important;
}
#andoks-footer .menu-item a.menu-image-title-after.menu-image-not-hovered img, #andoks-footer .menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
  padding-right: 0;
  padding-left: 10px;
}
#andoks-footer .social-media-menu {
  padding: 5px 0;
  text-align: right;
}
#andoks-footer .social-media-menu h2 {
  color: white;
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: right;
}
#andoks-footer .social-media-menu ul {
  list-style: none;
  text-align: right;
}
#andoks-footer .social-media-menu ul li {
  display: inline-block;
}
#andoks-footer .social-media-menu ul li .menu-image-title {
  display: none;
}
#andoks-footer .footer-nav {
  margin-top: 0;
}
#andoks-footer .footer-nav h2 {
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 1.1em;
  margin-bottom: 10px;
}
#andoks-footer .footer-nav ul {
  list-style: none;
}
#andoks-footer .footer-nav ul li {
  font-family: 'Heebo', sans-serif;
}
#andoks-footer .footer-nav ul li a {
  font-size: 1em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-decoration: none;
  color: #fff;
}
#andoks-footer .footer-nav ul li a:hover {
  color: #f8bf00;
}
#andoks-footer .copyright {
  text-align: center;
  margin-top: 30px;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
/* VIDEOS*/
.vbox-overlay {
  background-color: rgba(0, 0, 0, .85) !important;
}
.video-wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
.video-wrapper a {
  outline: none;
}
.video-wrapper a > img {
  width: 100%;
  transition: transform 1s;
  transform: scale(1);
  vertical-align: middle;
}
.video-overlay-play-button {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}
.video-wrapper circle {
  fill: #e1261c;
  stroke: #e1261c;
}
.video-wrapper circle, .video-wrapper polygon {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.video-wrapper:hover circle {
  stroke: #f8bf00;
  fill: #f8bf00;
}
.video-overlay-play-button.is-hidden {
  display: none;
}
.warning-content {
  width: 100%;
  margin: 0;
  text-align: center;
}
.warning-content h1 {
  font-family: 'Heebo', sans-serif;
  font-size: 50px;
  color: #e1261c;
}
.scroll-top-wrapper {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 3;
  visibility: hidden;
  width: 50px;
  height: 48px;
  overflow: hidden;
  line-height: 48px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  opacity: 0;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #e1261c;
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
@media (max-width: 767px) {
  .main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #rev_slider_1_1_wrapper {
    height: auto !important;
  }
  #rev_slider_1_1_wrapper #rev_slider_1_1 {
    height: 400px !important;
  }
  .featured-products {
    background-color: #fffcf2;
  }
  #andoks-footer {
    padding: 50px 20px;
  }
  #andoks-footer .footer-group {
    margin-bottom: 20px !important;
  }
  #andoks-footer .footer-nav h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #andoks-footer .copyright {
    text-align: left;
    padding-left: 30px;
    margin-top: 15px;
  }
  #andoks-footer .social-media-menu h2 {
    display: none;
  }
  #andoks-footer .social-media-menu ul {
    text-align: left;
  }
  .owl-carousel .owl-next {
    right: 0;
  }
  .owl-carousel .owl-prev {
    left: 0;
  }
  .video-wrapper {
    width: 80%;
  }
  .owl-carousel .owl-nav [class*=owl-] {
    width: 50px;
    height: 50px;
  }
  #menu-footer-menu {
    padding: 0;
  }
  #menu-social-media-menu {
    padding: 0;
  }
  .left {
    width: 40px;
    height: 60px;
    padding-top: 10px;
  }
  .left img {
    margin-left: -6px;
  }
  .left::after {
    left: calc(50% - -16px);
  }
  .chicken-modal .modal-content {
    width: auto;
  }
  .chicken-modal .chicken-logo {
    position: initial !important;
    display: block;
    width: 200px;
    margin-left: 52px;
  }
  .modal-content .modal-header {
    padding: 0;
  }
  .store-locator .btn-right {
    text-align: left !important;
  }
  .store-locator .container {
    padding: 50px;
  }
  .home-about {
    text-align: left;
  }
  .home-about .text-overlay {
    width: 73%;
  }
}
@media (max-width: 991px) {
  .featured-product-container {
    margin-bottom: 20px;
  }
  .featured-product-container:last-child {
    margin-bottom: 0;
  }
  #andoks-footer {
    padding: 50px 20px;
  }
  #andoks-footer .footer-group {
    margin-bottom: 20px !important;
  }
  #andoks-footer .footer-nav h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #andoks-footer .copyright {
    text-align: left;
    padding-left: 30px;
    margin-top: 15px;
  }
  #andoks-footer .social-media-menu h2 {
    display: none;
  }
  #andoks-footer .social-media-menu ul {
    text-align: left;
  }
  .hero-slider, #contact-us, .single-container {
    margin-top: 52px;
  }
  .chicken-modal .chicken-logo {
    position: initial !important;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-left: 52px;
  }
  .modal-content .modal-header {
    padding: 0;
  }
  #mainNav #navbarResponsive .center-logo {
    width: 180px;
    height: 180px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav {
    float: none;
  }
  .nav.navbar-nav {
    float: left;
    width: 100%;
    margin: 0 0 0 -15px;
    clear: both;
  }
  .menu-btn-2 {
    display: block;
  }
  .chicken-modal .modal-content {
    height: auto;
  }
  .center-logo {
    display: none;
  }
  .chicken-modal .modal-content {
    left: 0;
    width: auto;
    padding: 20px 50px;
  }
  .vertical-alignment-helper {
    width: auto;
    margin: 0 auto;
  }
  #contact-us .list-location {
    padding: 100px;
  }
  .search-field {
    position: relative;
    width: 347px;
    margin: 0 auto;
    text-align: center;
  }
  #contact-us .list-location #b-location-list #b-search {
    width: 300px;
  }
  #mainNav .mobile-logo {
    width: 170px;
    height: 165px;
  }
  #mainNav .mobile-logo a {
    bottom: 17px;
  }
  #mainNav .mobile-logo a img {
    width: 140px;
  }
  .scroll-top-wrapper {
    right: 20px;
  }
  .section {
    padding: 30px 20px 20px;
  }
}
@media (max-width: 1199px) {
  #nav-container-fluid, #featured-items .container {
    display: initial;
    max-width: 97.5% !important;
    /*this gives it the precise width to match the Bootstrap defaults*/
    padding: 0;
  }
  #mainNav .navbar-nav li.nav-item a span {
    font-size: 16px;
  }
  #mainNav .left-nav {
    padding-left: 180px;
  }
  #mainNav #navbarResponsive .center-logo {
    width: 180px;
    height: 180px;
  }
  .center-logo a img {
    position: relative;
    right: 15px;
    width: 180px !important;
  }
  #mainNav.shrink .center-logo a img {
    width: 125px;
  }
}
@media (max-width: 575px) {
  .featured-product-container {
    margin-bottom: 20px;
  }
  .section {
    padding: 30px 20px 20px;
  }
  #andoks-footer .footer-nav ul li {
    display: block;
  }
  .owl-carousel .owl-nav [class*=owl-] {
    width: 40px;
    height: 40px;
  }
  .owl-carousel .owl-prev {
    bottom: -30%;
  }
  .owl-carousel .owl-next {
    bottom: -30%;
  }
  #mainNav .mobile-logo {
    width: 150px;
    height: 150px;
  }
  #mainNav .mobile-logo a {
    bottom: 25px;
  }
  #mainNav .mobile-logo a img {
    width: 90px;
  }
  .chicken-modal .modal-content {
    width: 300px;
    padding: 20px;
  }
  #contact-us .list-location {
    padding: 50px 20px;
  }
  .search-field {
    position: relative;
    width: 307px;
    margin: 0 auto;
    text-align: center;
  }
  #contact-us .list-location #b-location-list #b-search {
    width: 260px;
  }
  .video-wrapper {
    width: 100%;
  }
  .store-locator {
    text-align: center;
  }
  .store-locator .btn-right {
    text-align: center !important;
  }
  .store-locator .container {
    padding: 50px;
    margin: 0 auto;
  }
  .home-about .text-overlay {
    text-align: center;
  }
}
