.__counter_container {
    .__title_visitor {
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }
    .__number_bg {
        display: inline-block;
        background-image: linear-gradient(to top, #111111, #212121, #323131, #434342, #555554);
        background-image: linear-gradient(to top, #111111, #212121, #323131, #434342, #555554);
        border-radius: 5px; 
        color: white;
        height: 85px;
        width: 57px;
        margin: 0 3px;
        p {
            display: inline;
            line-height:85px;
            font-size: 75px;
        }
    }
    .__count {
        padding-bottom: 20px;
        text-align: center;
    }
}

