#locator .list-location #b-location-list #b-search {
	padding: 18px 13px !important;
}

#locator .list-location {
	display: block !important;
}

@media (min-width: 992px) {
	#mainNav #navbarResponsive .center-logo {
		height: 150px !important;
	}

	#mainNav.shrink #navbarResponsive .center-logo {
		height: 115px !important;
	}
}


