/*
Theme Name: Andok's
Theme URI: 
Author: iConcept Global Advertising Inc.
Author URI: http://iconcept.com.ph/
Version: 1.0.0
Developers : Bryan Sebastian, Christian De Belen, and Paul Ryan Baldoza
*/

/*
* Do not write a style in this file. 
* Please insert your style ( .scss ) on assets/style/partials
* then include it in general.scss
*
* What?! .scss? Yes! This theme support the sass to make your
* production faster and your css beautiful.
*/





body, html {
overflow-x: auto;
height: auto;
}
body, html {
	overflow: initial !important;
}
