$width_of_search: 340px;
$ubuntu: "Ubuntu", sans-serif;

@mixin border-radius() {
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}

#locator {
    margin-top: 125px;

    .list-location {
        padding: 0 85px 0 100px;
        padding-top: 175px;

        background-color: #e1261c;

        align-items: end;

        &.location-result-container {
            padding-top: 40px;
        }

        .content {
            > p {
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
        #b-location-list {
            width: 100%;

            .search-btn {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;

                width: 77px;
                height: 54px;

                content: "";
                cursor: pointer;

                background: url(../../imgs/search.png) center/100% no-repeat;
            }
            .b-preloader {
                z-index: 97;

                border-radius: 26px;
                background-size: 24px;
            }
            #b-search {
                width: $width_of_search;
                padding: 15px 13px;
                margin: 0;

                font-family: $ubuntu;
                font-size: 16px;
                font-weight: 300;

                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                background: #fff;
            }
            #b-location {
                padding: 0;
                margin: 0;

                background: transparent;

                ul {
                    li {
                        display: none;
                    }
                }
                ul.searching {
                    width: $width_of_search;
                    height: 150px;
                    padding: 10px;
                    margin-top: 3px;
                    overflow-y: auto;

                    border-radius: 3px;
                    background: #fff;
                }
            }
        }
    }
    .location-result-container {
        // height: 664px;
        // padding: 40px 40px 40px 100px;
        // overflow-y: auto;


        .content {
            width: 100%;

            .location-result-search-field {
                position: relative;

                margin-bottom: 40px;

                input[name="search-location"] {
                    width: 100%;
                    padding: 11px 50px 11px 15px;

                    font-family: $ubuntu;
                    font-size: 18px;

                    border: 0;

                    @include border-radius;
                }

                i {
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    z-index: 1;

                    font-size: 25px;

                    color: #757575;
                }
            }

            .padd-r-10 {
                padding-right: 10px;
            }

            .location-result-list {
                height: 490px;

                .active-list-item {
                    border: 5px solid #ff827b !important;
                }

                .location-result-list-item {
                    padding: 20px 25px;
                    margin-bottom: 22px;

                    cursor: pointer;

                    border: 5px solid #fff;
                    background: #fff;

                    @include border-radius;

                    &:hover {
                        border: 5px solid #ff827b;
                    }

                    h2 {
                        margin-bottom: 10px;

                        font-family: $ubuntu;
                        font-size: 24px;
                        font-weight: 700;

                        color: #d72105;
                    }

                    p {
                        position: relative;

                        padding-left: 25px;

                        font-family: $ubuntu;
                        font-size: 14px;

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        i {
                            position: absolute;
                            top: 3px;
                            left: 0;

                            font-size: 20px;

                            color: #c6c6c6;
                        }
                    }
                }
            }
        }
    }
}


@media ( max-width: 991px ) {
    #locator {
        margin-top: 52px;

        .list-location {
            padding: 40px 0 55px;
        }
        .location-result-container {
            padding: 40px;
        }
        .search-field {
            text-align: left !important;

            #b-search {
                width: 310px !important;
            }
        }
    }
}



