.nopadding {
    padding: 0;
}
.no-pad-right {
    padding-right: 0;
}
.no-pad-left {
    padding-left: 0;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid-3 {
    margin-bottom: 30px;
}
.show-grid-4 {
    margin-bottom: 40px;
}
.show-grid-5 {
    margin-bottom: 50px;
}

/**careers page**/
#careers {
    padding: 80px 0 40px;
    margin-top: 125px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // height: 850px;

    .careers-category-tabs {
        margin-bottom: 40px;

        text-align: center;

        border-top: 1px solid #e1261c;
        border-bottom: 1px solid #e1261c;

        ul {
            padding: 9px 0;

            li {
                display: inline-block;
                margin: 0 6px;

                list-style: none;

                a {
                    display: inline-block;
                    padding: 5.5px 12px;

                    font-size: 16px;

                    color: #101820;
                    border-radius: 6px;
                    background: transparent;

                    &:hover {
                        -webkit-transition: all .20s ease-in-out;
                           -moz-transition: all .20s ease-in-out;
                             -o-transition: all .20s ease-in-out;
                                transition: all .20s ease-in-out;

                        color: #fff;
                        background: #e1261c;
                    }

                    &.active {
                        pointer-events: none;

                        color: #fff;
                        background: #e1261c;
                    }
                }
            }
        }
    }


    .career-image-title-wrapper {
        position: relative;
        z-index: 2;

        width: 100%;
        height: 210px;
        padding-top: 15px;

        border-radius: 5px;
        background: #f8bf00;
        -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
           -moz-box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
                box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
    }

    .career-image {
        width: 125px;
        height: 125px;
        margin: 0 auto;

        border: 6px solid #e1261c;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .career-title {
        padding: 0 10px;

        h4 {
            margin-top: 6px;

            font-size: 15px;

            text-transform: uppercase;

            color: #101820;
        }

        p {
            margin: 0;

            font-size: 15px;

            text-transform: uppercase;

            color: #101820;
        }
    }


    .list-panel {
        margin-top: 15px;

        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .list-title a {
        position: relative;

        display: block;
        padding: 12px 17px;

        font-size: 14px;

        color: #101820;
        background-color: #fff;

        &.collapsed:after {
            position: absolute;
            top: 0;
            right: 15px;
            bottom: 0;

            width: 15px;
            height: 16px;
            margin: auto 0;

            content: "";

            background-image: url(../../imgs/arrow-plus.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        &:after {
            position: absolute;
            top: 0;
            right: 15px;
            bottom: 0;

            width: 15px;
            height: 4px;
            margin: auto 0;

            content: "";

            background-image: url(../../imgs/arrow-minus.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .list-description {
        padding: 15px 17px;

        color: #fff;
        background: #e1261c;

        p {
            margin: 0;

            line-height: 15px;

            text-align: justify;
        }
    }


    .no-careers-found {
        h2 {
            font-size: 34px;

            color: #e1261c;
        }
    }


    .c-padding {
        padding: 0 15px;
    }

    .ro-container-padding {
        padding: 0 30px;
    }

    .ro-padding {
        padding: 0 7px;
    }

    .bg-yellow {
        background: #f8bf00;
    }

    .bg-white {
        background: #fff;
    }

    .we-need-you-title {
        margin-left: 20px;

        h2 {
            margin-bottom: 40px;

            font-size: 30px;

            color: #fff;
        }

        p {
            font-size: 16px;

            color: #fff;
        }
    }

    .ro-main-wrapper {
        padding: 16px 14px 20px 14px;

        h4 {
            margin-bottom: 15px;

            font-size: 13px;

            color: #101820;
        }

        p {
            margin-bottom: 0;

            font: 12px $ubuntu;
            font-weight: $regular;
            line-height: 15px;

            text-align: justify;

            color: #101820;
        }
    }


    .onsite-recruitment-title {
        margin: 35px 0 15px 20px;

        p {
            font-size: 16px;

            color: #fff;
        }
    }

    .recruitment-link {
        margin-top: 15px;

        p {
            font-size: 16px;

            color: #fff;

            > a {
                text-decoration: underline !important;

                color: #fff;

                &:hover {
                    -webkit-transition: all .20s ease-in-out;
                       -moz-transition: all .20s ease-in-out;
                         -o-transition: all .20s ease-in-out;
                            transition: all .20s ease-in-out;

                    color: #e1261c;
                }
            }
        }
    }
}
/**careers page**/



/**contact us page**/
#contact_us {
    padding: 70px 0 30px;
    margin-top: 125px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // height: 875px;

    .contact-us-title {
        h2 {
            margin-bottom: 25px;

            font-size: 40px;

            color: #101820;
        }
    }

    .location-details {
        margin-bottom: 35px;

        span {
            position: relative;

            float: left;
        }

        p {
            margin-bottom: 0;
            margin-left: 43px;

            font-size: 16px;
            line-height: 22px;

            text-align: justify;

            color: #101820;
        }
    }

    .contact-details {
        margin-bottom: 17px;

        span {
            position: relative;

            float: left;
        }

        p {
            position: relative;
            top: 2px;

            margin-bottom: 0;
            margin-left: 43px;

            font-size: 16px;

            text-align: justify;

            color: #101820;
        }

        &:last-of-type {
            text-decoration: underline;
        }
    }

    #map-area {
        width: 390px;
        height: 230px;
        margin-top: 30px;

        border-radius: 7px;
    }


    .inquiry-title {
        h2 {
            margin-bottom: 25px;

            font-size: 40px;

            color: #101820;
        }
    }

    .form-group {
        margin-bottom: 20px;

        h4 {
            margin-bottom: 13px;

            font-size: 17px;

            color: #101820;
        }

        textarea.messageheight {
            height: 200px;
        }
    }

    .form-control {
        height: 35px;

        font: 16px $ubuntu;
        font-weight: $regular;

        border: 0;
        border-radius: 5px;
        background: #fff;
    }

    input[type="submit"] {
        float: right;
        width: 203px;
        height: 58px;
        margin-top: 32px;

        font: 20px $ubuntu;
        font-weight: $regular;

        cursor: pointer;

        color: #fff;
        border: 0;
        border-radius: 4px;
        outline: none;
        background: #e1261c;

        &:focus {
            outline: none;
            -webkit-box-shadow: none;
                    box-shadow: none;
        }

        &:hover {
            -webkit-transition: all .20s ease-in-out;
               -moz-transition: all .20s ease-in-out;
                 -o-transition: all .20s ease-in-out;
                    transition: all .20s ease-in-out;

            color: #e1261c;
            background: #f8bf00;
        }
    }

    div.wpcf7 .ajax-loader {
        float: left;
        margin: 3px 0 0 -13px;
    }
}
/**contact us page**/



/**promos page**/
#promos {
    padding: 70px 0 40px;
    margin-top: 125px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // height: auto;

    .pro-padding {
        padding: 0 7.5px;
    }

    .promos-title {
        h2 {
            margin: 0 0 25px 33px;

            font-size: 40px;

            color: #101820;
        }
    }

    .main-promo-image {
        position: relative;

        width: 100%;
        height: 257px;
        max-width: 100%;
        margin: 0 auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-promo-wrapper {
        height: 257px;
        padding: 40px 22px;

        background: #fff;

        .main-promo-title {
            h4 {
                margin-bottom: 7px;

                font-size: 20px;

                color: #101820;
            }
        }

        .main-promo-excerpt {
            p {
                margin-bottom: 0;

                font: 13px $ubuntu;
                line-height: 15px;

                text-align: justify;

                color: #101820;
            }
        }

        .main-promo-rm-btn {
            margin-top: 8px;

            a {
                display: inline-block;

                font-size: 13px;

                color: #101820;
            }
        }
    }


    .promo-image {
        position: relative;

        width: 371px;
        height: 257px;
        max-width: 100%;
        margin: 0 auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
/**promos page**/



/**about us page**/
#about_us {
    margin-top: 125px;

    // .slider-gallery-bg {
    //     padding: 65px 0 70px;
    // }

    // .about-us-title {
    //     h2 {
    //         margin-bottom: 50px;
    //         margin-left: 30px;

    //         font-size: 40px;

    //         color: #101820;
    //     }
    // }

    // .about-content-bg {
    //     padding: 75px 0 60px;
    // }

    // .about-us-content {
    //     p {
    //         margin-bottom: 25px;

    //         line-height: 26px;
    //     }
    // }

    .__show_grid_70 {
        margin-bottom: 70px;
    }

    .about-us-bg {
        padding: 30px 0 135px;

        .andoks-title {
            h2 {
                font-size: 84px;

                text-align: center;

                color: #e1261c;
                text-shadow: 3px 3px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;

                span {
                    position: relative;
                    right: -4px;

                    text-shadow: 3px 4px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
                }
            }

            img {
                max-width: 52%;
                margin: 30px 0 5px;
            }
        }

        .gallery_description {
            margin-top: 25px;

            p {
                line-height: 26px;
            }
        }

        .gallery_image {
            height: 100%;
        }
    }



    .tab-wrapper {
        border-radius: 12px;
        background: #d83016;

        .tab-title {
            h4 {
                padding: 22px 12px;

                font-size: 26px;

                color: #101820;
                border-radius: 12px;
                background: #fff;
            }
        }

        .tab-content {
            padding: 22px 15px 36px;
        }
    }
}
/**about us page**/



/**products page**/
#products {
    padding: 135px 0;
    margin-top: 125px;

    .product-cat-image {
        width: 348px;
        height: 348px;
        margin: 0 auto;

        border: 10px solid #fff;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
           -moz-box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
                box-shadow: 0 0 20px 1px rgba(0,0,0,.35);
    }

    .product-cat-title {
        a {
            display: inline-block;
            margin-top: 35px;

            font-size: 56px;

            color: #101820;

            &:hover {
                -webkit-transition: all .30s ease-in-out;
                   -moz-transition: all .30s ease-in-out;
                     -o-transition: all .30s ease-in-out;
                        transition: all .30s ease-in-out;

                color: #e1261c;
            }
        }
    }
}
/**products page**/








/***custom-media***/
@media (min-width: 992px) and (max-width: 1200px) {
    /**careers**/
    #careers {
        .careers-category-tabs {
            ul {
                li {
                    margin: 0 5px;
                }
            }
        }
    }
    /**careers**/



    /**contact us**/
    #contact_us {
        background-size: 100% 910px !important;

        input[type="submit"] {
            width: 130px;
        }

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 0;
        }
    }
    /**contact us**/
}



@media (min-width: 768px) and (max-width:991px) {
    /**careers**/
    #careers {
        margin-top: 52px;

        .careers-category-tabs {
            ul {
                li {
                    display: block;
                    margin: 5px 0;
                }
            }
        }

        .list-description {
            p {
                text-align: left;
            }
        }
    }
    /**careers**/



    /**contact us**/
    #contact_us {
        margin-top: 52px;

        background-size: 100% 1500px !important;

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 6px;
        }

        .inquiry-title {
            h2 {
                margin-top: 40px;
            }
        }
    }
    /**contact us**/



    /**promos**/
    #promos {
        margin-top: 52px;

        .main-promo-wrapper {
            padding: 15px 10px;

            .main-promo-title {
                h4 {
                    font-size: 16px;
                }
            }

            .main-promo-excerpt {
                p {
                    font: 11.5px "Ubuntu", sans-serif;
                }
            }
        }
    }
    /**promos**/



    /**about us**/
    #about_us {
        margin-top: 52px;

        .about-us-bg {
            .andoks-title {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
    /**about us**/



    /**products**/
    #products {
        margin-top: 52px;

        .product-cat-image {
            width: 300px;
            height: 300px;
        }

        .product-cat-title {
            a {
                margin-top: 25px;

                font-size: 48px;
            }
        }
    }
    /**products**/



    /***modal store locator form***/
    .chicken-modal .chicken-logo {
        margin-left: 120px !important;
    }
    /***modal store locator form***/
}



@media (min-width: 576px) and (max-width: 767px) {
    /**careers**/
    #careers {
        margin-top: 52px;

        background-size: 100% 1500px !important;

        .c-pad-right {
            padding-right: 15px;
        }

        .c-pad-left {
            padding-left: 15px;
        }

        .career-image-title-wrapper {
            width: 175px;
            margin: 0 auto;
        }

        .careers-category-tabs {
            ul {
                li {
                    display: block;
                    margin: 5px 0;
                }
            }
        }

        .list-description {
            p {
                text-align: left;
            }
        }
    }
    /**careers**/



    /**contact us**/
    #contact_us {
        margin-top: 52px;

        background-size: 100% 1800px !important;

        input[type="submit"] {
            float: left;
            margin-top: 5px;
        }

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 6px;
        }

        .inquiry-title {
            h2 {
                margin-top: 40px;
            }
        }
    }
    /**contact us**/



    /**promos**/
    #promos {
        margin-top: 52px;

        .pad-right {
            padding-right: 15px;
        }

        .pad-left {
            padding-left: 15px;
        }

        .main-promo-image {
            width: 371px;
        }

        .main-promo-wrapper {
            width: 371px;
            height: 220px;
            margin: 0 auto;

            .main-promo-title {
                h4 {
                    font-size: 16px;
                }
            }

            .main-promo-excerpt {
                p {
                    font: 11.5px "Ubuntu", sans-serif;
                }
            }
        }
    }
    /**promos**/



    /**about us**/
    #about_us {
        margin-top: 52px;

        .about-us-bg {
            .andoks-title {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }

        .tab-wrapper {
            margin-bottom: 30px;
        }
    }
    /**about us**/



    /**products**/
    #products {
        margin-top: 52px;

        .product-cat-image {
            width: 300px;
            height: 300px;
        }

        .product-cat-title {
            a {
                margin-top: 25px;
                margin-bottom: 50px;

                font-size: 48px;
            }
        }
    }
    /**products**/



    /***modal store locator form***/
    .chicken-modal .chicken-logo {
        margin-left: 120px !important;
    }
    /***modal store locator form***/
}



@media (min-width: 320px) and (max-width: 575px) {
    /**careers**/
    #careers {
        margin-top: 52px;

        background-size: 100% 1500px !important;

        .c-pad-right {
            padding-right: 15px;
        }

        .c-pad-left {
            padding-left: 15px;
        }

        .career-image-title-wrapper {
            width: 175px;
            margin: 0 auto;
        }

        .careers-category-tabs {
            ul {
                li {
                    display: block;
                    margin: 5px 0;
                }
            }
        }

        .list-description {
            p {
                text-align: left;
            }
        }
    }
    /**careers**/



    /**contact us**/
    #contact_us {
        margin-top: 52px;

        background-size: 100% 1800px !important;

        input[type="submit"] {
            float: left;
            margin-top: 5px;
        }

        div.wpcf7 .ajax-loader {
            margin: 3px 0 0 6px;
        }

        .inquiry-title {
            h2 {
                margin-top: 40px;
            }
        }

        #map-area {
            width: 100%;
        }
    }
    /**contact us**/



    /**promos**/
    #promos {
        margin-top: 52px;

        .pro-padding {
            padding: 0 15px;
        }

        .pad-right {
            padding-right: 15px;
        }

        .pad-left {
            padding-left: 15px;
        }

        .main-promo-image {
            width: 371px;
        }

        .main-promo-wrapper {
            width: 371px;
            height: 220px;
            max-width: 100%;
            margin: 0 auto;

            .main-promo-title {
                h4 {
                    font-size: 16px;
                }
            }

            .main-promo-excerpt {
                p {
                    font: 11.5px "Ubuntu", sans-serif;
                }
            }
        }
    }
    /**promos**/



    /**about us**/
    #about_us {
        margin-top: 52px;

        .about-us-bg {
            .andoks-title {
                h2 {
                    margin-bottom: 20px;
                }
            }
        }

        .tab-wrapper {
            margin-bottom: 30px;
        }
    }
    /**about us**/



    /**products**/
    #products {
        margin-top: 52px;

        .product-cat-image {
            width: 260px;
            height: 260px;
        }

        .product-cat-title {
            a {
                margin-top: 15px;
                margin-bottom: 40px;

                font-size: 40px;
            }
        }
    }
    /**products**/



    /***modal store locator form***/
    .search-bar {
        width: 100% !important;
    }
    /***modal store locator form***/
}



/***small devices***/
@media (max-width: 414px) {
    #contact_us {
        .location-details {
            p {
                font-size: 14px;
            }
        }

        .contact-details {
            p {
                font-size: 14px;
            }
        }

        .g-recaptcha {
            transform: scale(.93, .95);
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
        }
    }
}
