/* Initial Style */
html, body {
	margin: 0;
	padding: 0;
	position: relative;
	  overflow: initial !important;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0;
	line-height: normal;
}
ul {
	margin: 0;
}
a,
input {
	text-decoration: none !important;
	outline: none !important;
}
.nopadding {
	padding: 0;
}
/* Initial Style */

/* Default Effects */
.transition {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
/* Default Effects */

/* Center Element Horizontal/Vertical */
.full-center {
	align-items: center;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
/* Center Element Horizontal/Vertical */

/* No Result */
.no-result {
	padding: 80px 0;
	text-align: center;
}
/* No Result */

/* 5 Column */
.col-xs-5items, .col-sm-5items, .col-md-5items, .col-lg-5items {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 0;
}
.col-xs-5items {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-5items {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-5items {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-5items {
		width: 20%;
		float: left;
	}
}
/* 5 Column */

/* Contact Form 7 Notification Style */
.wpcf7-response-output {
	border: 0 !important;
	color: #fff;
	font-weight: 700;
	margin: 0;
	margin: 10px 0 !important;
	padding: 20px !important;
}
.wpcf7-mail-sent-ok {
	background: #4caf50;
}
.wpcf7-mail-sent-ng {
	background: #F44336;
}
.wpcf7-spam-blocked {
	background: #FF9800;
}
.wpcf7-validation-errors {
	background: #e5d92e;
}
/* Contact Form 7 Notification Style */

/* Archive */
.archive-container {
	padding: 75px 0;
}
.post-item {
	margin-bottom: 65px;
	.details {
		h2 {
			font-size: 18px;
			margin-bottom: 15px;
		}
		p {
			line-height: 1.7;
		}
	}
	.date {
		border-top: 1px solid #cacaca;
		margin: 20px 0;
		padding-top: 15px;
	}
	a {
		background: #eee;
		border-radius: 3px;
		color: #fff;
		display: block;
		font-size: 16px;
		padding: 14px 0;
		width: 130px;
		&:hover {
			background: #eee;
		}
	}
}
/* Archive */

/* Single */
.single-container {
	padding: 75px 0;
		.title-part {
			margin-bottom: 50px;
		h2 {
			margin-bottom: 10px;
		}
	}
}

/* Single */

/* 404 */
.page-not-found {
	padding: 100px 0;
	h2 {
		font-size: 200px;
		font-weight: 700;
		letter-spacing: 15px;
	}
	p {
		font-size: 50px;
	}
}
/* 404 */

/* Responsive */
@media (max-width: 600px) {
	.archive-container {
		[class*="col-"] {
			width: 100%;
		}
		.details {
			height: auto !important;
		}
	}
}
/* Responsive */