$ubuntu: 'Ubuntu', sans-serif;
$breeze: 'Breeze Personal Use';

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

@font-face {
    font-family: $breeze;
    src: url(../../fonts/breeze/Breeze-Personal-Use.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-style: italic;
    src: url(../../fonts/ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $light;
    src: url(../../fonts/ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $light;
    font-style: italic;
    src: url(../../fonts/ubuntu/Ubuntu-LightItalic.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $regular;
    src: url(../../fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $medium;
    src: url(../../fonts/ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $medium;
    font-style: italic;
    src: url(../../fonts/ubuntu/Ubuntu-MediumItalic.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $bold;
    src: url(../../fonts/ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: $ubuntu;
    font-weight: $bold;
    font-style: italic;
    src: url(../../fonts/ubuntu/Ubuntu-BoldItalic.ttf);
}

.thin {
	font-weight: $thin;
}
.light {
	font-weight: $light;
}
.regular {
	font-weight: $regular;
}
.medium {
	font-weight: $medium;
}
.semi-bold {
	font-weight: $semi-bold;
}
.bold {
	font-weight: $bold;
}
.extra-bold {
	font-weight: $extra-bold;
}
.black {
	font-weight: $black;
}

.breeze {
	font-family: $breeze;
}
.ubuntu-italic {
	font-family: $ubuntu;
	font-style: italic;
}
.ubuntu-light {
	font-family: $ubuntu;
	font-weight: $light;
}
.ubuntu-light-italic {
	font-family: $ubuntu;
	font-weight: $light;
	font-style: italic;
}
.ubuntu-regular {
	font-family: $ubuntu;
	font-weight: $regular;
}
.ubuntu-medium {
	font-family: $ubuntu;
	font-weight: $medium;
}
.ubuntu-medium-italic {
	font-family: $ubuntu;
	font-weight: $medium;
	font-style: italic;
}
.ubuntu-bold {
	font-family: $ubuntu;
	font-weight: $bold;
}
.ubuntu-bold-italic {
	font-family: $ubuntu;
	font-weight: $bold;
	font-style: italic;
}