/*
Theme Name: Andok's 2.0
Theme URI: 
Author: Pino Design Studio
Author URI: http://pino.ph
Version: 2.0.0
Developer: Betina Bondoc
*/

body, html {
overflow-x: auto;
height: auto;
}
body, html {
	overflow: initial !important;
}
